{% extends 'base.html' %}
{% load static %}
{% load fullurl %}


{% block title %}Candidates Running in 2017{% endblock %}
{% block meta_description %}{{ runners.count }} candidates are running for 9 seats in 2017. Determine who deserves your #1, #2, or #9 vote on November 7th.{% endblock %}

{% block head_extra %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="cambridgecouncilcandidates.com" />
    <meta name="twitter:title" value="Candidates Running in 2017" />
    <meta name="twitter:description" value="{{ runners.count }} candidates are running for 9 seats in 2017. Determine who deserves your #1, #2, or #9 vote on November 7th." />

    <meta name="twitter:image" content="{% fullstatic "candidate_grid.png" %}"/>
    <meta name="twitter:label1" value="Candidates Running" />
    <meta name="twitter:data1" value="{{ runners.count }}" />

    <meta name="twitter:label2" value="Seats" />
    <meta name="twitter:data2" value="9" />
{% endblock %}


{% block content %}
<section class="candidates">
    <div class="row">
        {% for runner in runners %}
            <div class="col-sm-6 col-md-3">
                {% include "overview/candidate_card.html" with candidate=runner only %}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Not Running</h2>
        </div>
    </div>

    <div class="row">
        {% for not_runner in not_runners %}
            <div class="col-sm-6 col-md-3">
                {% include "overview/candidate_card.html" with candidate=not_runner only %}
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block endscripts %}
<script>
$(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
{% endblock %}
