{% load truncate_website from overview %}


<article class="candidate_card thumbnail">
    <a href="{% if candidate.slug %}{% url "candidate_detail" candidate.slug %}{% else %}#{% endif %}" class="headshot">
        <picture class="headshot">
            <img
                class="img-circle"
                height="150" width="150"  {# all 1:1 #}
                src="{{ candidate.headshot }}"
                alt="{{ candidate.headshot_description }}">
        </picture>
    </a>

    <div class="caption">
        <div class="candidate_name">
                {{ candidate.fullname }} {% if candidate.is_incumbent %}<i class="text-muted fa fa-institution"></i>{% endif %}
                <br />
                <a target="_blank" href="{{ candidate.website }}">{{ candidate.website|truncate_website }}</a>
        </div>
    </div>

    {# could toggle different card views #}
    <div class="text-center">
        <a class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Learn More" href="{% if candidate.slug %}{% url "candidate_detail" candidate.slug %}{% else %}#{% endif %}"><i class="fa fa-search"></i></a>
        {% if candidate.facebook %}
            <a class="btn btn-link" target="_blank" href="{{ candidate.facebook }}"</a><i class="fa fa-facebook"></i></a>
        {% else %}
            <a class="btn btn-link" disabled><i class="fa fa-facebook"></i></a>
        {% endif %}
        <a class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Voting Record" disabled><i class="fa fa-check-square"></i></a>
        <a class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Finance" disabled><i class="fa fa-dollar"></i></a>
    </div>
</article>
