{% extends 'base.html' %}
{% load yt_direct markdown truncate_website from overview %}
{% load static %}
{% load humanize %}

{% block title %}Learn More About {{ candidate.fullname }}{% endblock %}

{% block meta_description %}{{ candidate.blurb|markdown|striptags }}{% endblock %}

{% block head_extra %}
<meta property="og:image" content="{{ candidate.headshot }}">

{% for video in videos %}
    {% if forloop.first %}
        <meta property='og:video' content='{{ video.link|yt_direct }}' />
        <meta property="og:type" content="video"> 
    {% endif %}
{% endfor %}

<script>
    // data for candidate_map.js
    var initialLocations = {{ candidate_locations|safe }};
</script>
<script>{% include "overview/candidate_map.js" %}</script>

<script defer src="//maps.googleapis.com/maps/api/js?&callback=initMap&key=AIzaSyAEvfFrHVngbhqmwUbmZIGrxJpTNReCIeY"></script>

<style>
#map {
    height: 350px;  /* hehehehe */
    width: 100%;
}

.candidate-img img {
    width: 70%; 
    margin-top: 20px;
}

#theCarousel {
    overflow-x: scroll;
    white-space: nowrap;
}

#theCarousel .video {
    display: inline-block;
}

.questionnaire_link {
    display: block;
    margin-top: 0.75em;
}
</style>

{% endblock %}


{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-4 text-center">
        <picture class="candidate-img img-responsive">
            <img
                class="img-circle"
                src="{{ candidate.headshot }}"
                alt="{{ candidate.headshot_description }}">
        </picture>
    </div>

    <div class="col-md-8">
        <h1>{{ candidate.fullname }}</h1>

        {{ candidate.blurb|markdown }}

        <ul class="list-inline">
            {% if candidate.website %}
            <li>
                <a class="candidate_website" target="_blank" href="{{ candidate.website }}">{{ candidate.website|truncate_website }}</a>
            </li>
            {% endif %}

            {% if candidate.email %}
            <li>
                <a class="candidate_website" target="_blank" href="mailto:{{ candidate.email}}">{{ candidate.email }}</a>
            </li>
            {% endif %}

            {% if candidate.facebook %}
            <li>
                <a class="btn btn-link" target="_blank" href="{{ candidate.facebook }}"</a>
                    <span class="fa fa-facebook"></span>
                    {{ candidate.facebook }}
                </a>
            </li>
            {% endif %}

            {% if candidate.twitter %}
            <li>
                <a class="btn btn-link" target="_blank" href="https://twitter.com/{{ candidate.twitter }}">
                    <span class="fa fa-twitter"></span>
                    {{ candidate.twitter }}
                </a>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 id="about">About</h2>
    </div>

    <div class="col-md-6">
        <table class="table table-condensed">
            <colgroup>
                <col width="20%"></col>
            </colgroup>
            <tbody>
                <tr>
                    <th>Incumbent</th>
                    <td>{{ candidate.is_incumbent|yesno:"Yes,No" }}</td>
                </tr>
                
                {% if candidate.job %}
                <tr>
                    <th>Job</th>
                    <td>{{ candidate.job }}</td>
                </tr>
                {% endif %}
                
                {% if candidate.education %}
                <tr>
                    <th>Education</th>
                    <td>{{ candidate.education }}</td>
                </tr>
                {% endif %}

                <tr>
                    <th>Address</th>
                    <td>
                        {{ candidate.get_housing_status_display|title }}s at <strong>{{ candidate.address }}</strong>
                        {% if candidate.housing_sell_value %}
                            <br>
                            <span class="text-muted">Valued at ${{ candidate.housing_sell_value|floatformat:0|intcomma }}</span>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>Age</th>
                    <td>{{ candidate.date_of_birth|timesince }}
                        {% if candidate.date_of_birth or candidate.place_of_birth %}
                        <br>
                        <span class="text-muted">
                            Born
                            {% if candidate.place_of_birth %}in {{ candidate.place_of_birth }}{% endif %}
                            {% if candidate.date_of_birth %}in {{ candidate.date_of_birth|date:"Y" }}{% endif %}
                        </span>
                        {% endif %}
                    </td>
                </tr>

                {% if endorsements or object.endorsements_link %}
                <tr>
                    <th>Endorsements</th>
                    <td>
                        {% for endorsement in endorsements %}
                            {% spaceless %}
                                {% if endorsement.link %}
                                <a href="{{ endorsement.link }}" target="_blank" data-toggle="tooltip" title="{{ endorsement.organization.name }} endorsed {{ object.shortname }}{% if endorsement.date %} on {{ endorsement.date|date }}{% endif %}">
                                    {% if endorsement.organization.logo %}
                                        <img style="max-height: 30px; max-width: 30px" src="{{ endorsement.organization.logo }}" />
                                    {% else %}
                                        {{ endorsement.organization.name }}
                                    {% endif %}
                                </a>
                                {% else %}
                                <span data-toggle="tooltip" title="{{ endorsement.organization.name }} endorsed {{ object.shortname }}{% if endorsement.date %} on {{ endorsement.date|date }}{% endif %}">
                                    {% if endorsement.organization.logo %}
                                        <img style="max-height: 30px; max-width: 30px" src="{{ endorsement.organization.logo }}" />
                                    {% else %}
                                        {{ endorsement.organization.name }}
                                    {% endif %}
                                </span>
                                {% endif %}
                            {% endspaceless %}
                        {% endfor %}
                        {% if object.endorsements_link %}
                            <a href="{{ object.endorsements_link }}" target="_blank">more&hellip;</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <div id="map" class="map-container">
            <div class="map-alert">
                <div class="alert alert-warning" data-bind="text:gerror"></div>
            </div>
        </div>
    </div>
</div>

{% if videos %}
<div class="row">
    <div class="col-md-12">
        <h2 id="interviews">Interviews</h2>
    </div>

    {% if videos %}
    <div class="col-md-12">
        <div id="theCarousel" data-interval="false">
            {% for video in videos %}
                <div class="video"><a href="#1">
                    <object data="{{ video.link }}" style="width:100%" height="225"></object>
                </a></div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <h2 id="questionnaires">Questionnaires</h2>
    </div>

    <div class="col-md-12 table-responsive">
        <table class="table" style="table-layout: fixed">
            <colgroup>
                <col style="width: 3em"></col>
            </colgroup>
            <tbody>
                {% for response in candidate.questionnaireresponse_set.all %}
                <tr>
                    <td>
                        <i class="hidden-xs fa fa-2x fa-fw {{ response.questionnaire.icon_class }}" aria-hidden="true"></i>
                        <i class="visible-xs fa fa-fw {{ response.questionnaire.icon_class }}" aria-hidden="true"></i>
                    </td>
                    <td class="hoverable">
                        <a class="hoot" data-original="{{ response.questionnaire.topic }}" target="_blank" href="{{response.questionnaire_link }}">
                            {{ response.questionnaire.topic }}
                        </a>
                    </td>
                    <td>
                        {{ response.questionnaire.name }}
                        <a class="fa fa-info-circle" 
                           href="#!" 
                           data-toggle="popover" 
                           data-trigger="focus"
                           data-html="true" 
                           data-container="body" 
                           data-title="{{ response.questionnaire.name }}" 
                           data-content='{{ response.questionnaire.description }}'></a>
                    </td>

                    <td>{% if response.date %}
                            {{ response.date|date:"c" }}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <caption class="text-muted">This candidate has not filled out any questionnaires that we know about.</caption>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2 id="finance">Campaign Finance</h2>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-money">
            <div class="panel-heading panel-heading-money">
                <h3 class="money-amount">
                    {% if latest_bank_report.ending_balance_display is not None %}
                        $&nbsp;{{ latest_bank_report.ending_balance_display|intcomma }}
                    {% else %}
                        <i>TBD</i>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                Balance
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-money">
            <div class="panel-heading panel-heading-money">
                <h3 class="money-amount">
                    {% if money_2017_raised is not None %}
                        $&nbsp;{{ money_2017_raised|intcomma }}
                    {% else %}
                        <i>TBD</i>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                Raised in 2017
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-money">
            <div class="panel-heading panel-heading-money">
                <h3 class="money-amount">
                    {% if money_2017_spent is not None %}
                        $&nbsp;{{ money_2017_spent|intcomma }}
                    {% else %}
                        <i>TBD</i>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                Spent in 2017
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-money">
            <div class="panel-heading panel-heading-money">
                <h3 class="money-amount">
                    {% if money_2017_start is not None %}
                        $&nbsp;{{ money_2017_start|intcomma }}
                    {% else %}
                        <i>TBD</i>
                    {% endif %}
                </h3>
            </div>
            <div class="panel-body">
                Jan 1, 2017 Balance
            </div>
        </div>
    </div>
    <div class="col-md-12">
        To see how this candidate compares, check out <a href="{% url 'finance_comparison' %}">finance comparison</a>.
    </div>
</div>
</div>
{% endblock %}


{% block endscripts %}
    <script>
        $("[data-toggle=tooltip]").tooltip();
        $("[data-toggle=popover]").popover();

        $("td.hoverable").hover(function() {
            let $td = $(this);
            let $hoot = $td.find(".hoot");
            $hoot.fadeOut(200, function() {
                $hoot.text("View their answers").fadeIn(200);
            });
        }, function() {
            let $td = $(this);
            let $hoot = $td.find(".hoot");
            $hoot.fadeOut(200, function() {
                $hoot.text($hoot.data('original')).fadeIn(200);
            });
        });
    </script>
{% endblock %}
