{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load get_item from overview %}

{% block body_id %}candidate_comparison{% endblock %}

{% block content %}
<div>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2>Biking</h2>
            </div>
            <div class="col-12">
                <p>High-profile bike lanes are popping up over the city - and high-profile fights.</p>
                <p>Here is how the {{ election.year }} candidates compare.</p>
            </div>
        </div>
    </section>
</div>

<div class="bg-gray">
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h4>Biking Pledge &amp Experience</h4>
                <p>
                    CBS, or <a href="https://www.cambridgebikesafety.org">Cambridge Bicycle Safety</a>, is a Cambridge group that "[promotes] safety for cyclists of all ages and abilities" that asks candidates to sign a pledge to implement a city bike lane plan by a certain date. <a href="https://savemassave.com">Save Mass Ave</a> is "a group of Cambridge Residents and Small Business Owners" that formed in May 2020 to delay and reasess cycling-caused changes to Mass Ave near Porter Square and North Cambridge. <a href="https://cambridgeforall.org">Cambridge Streets for All</a> is the group that has sued to halt and remove bike lanes; they have not endorsed candidates (one of their board members and another named Plaintiff are running for Council themselves).
                </p>
                <div class="table-responsive">
                    <table class="table table-striped comparison-table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Candidate</th>
                                <th>Bikes?</th>
                                <th>Signed Pledge</th>
                                <th>CBS Endorsed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for candidate_election in candidate_elections %}
			    {% with candidate=candidate_election.candidate %}
                            <tr>
                                <td>
                                    <a href="{% url "candidate_detail" election.year election.position candidate.slug %}">{{ candidate.fullname }}</a>
                                </td>
                                <td>
                                    {% if candidate_election.is_cyclist %}
                                        <i class="fa fa-check text-success"></i>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if candidate_election.signed_bike_pledge %}
                                        <i class="fa fa-check text-success"></i>
                                    {% else %}
                                        <i class="fa fa-ban text-danger"></i>
                                    {% endif %}
                                </td>

                                <td>
                                    {% if candidate_bike_group_map|get_item:candidate.id %}
                                        <i class="fa fa-check text-success"></i>
                                    {% else %}
                                        <i class="fa fa-ban text-danger"></i>
                                    {% endif %}
                                </td>

                            </tr>
			    {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h4>Specific Proposals</h4>
                <p>Actual bills, developments, or rules - not hypotheticals. Incumbent positions are from the voting record; others are based on public comment, surveys, or statements. Feel free to send us such records if you know of them!</p>
                <div class="table-responsive">
                    <table class="table table-striped comparison-table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Candidate</th>
                                {% for specific_proposal in specific_proposals %}
                                    <th>
                                        {% if specific_proposal.shortname %}
                                            {{ specific_proposal.shortname }}
                                        {% else %}
                                            {{ specific_proposal.fullname }}
                                        {% endif %}

                                        {% if specific_proposal.blurb %}
                                        <a tabindex="0" class="fa fa-info-circle"
                                            href="#!"
                                            data-toggle="popover"
                                            data-trigger="focus"
                                            data-html="true"
                                            data-container="body"
                                            data-content="{{ specific_proposal.blurb }}">
                                        </a>
                                        {% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for candidate_election in candidate_elections %}
			    {% with candidate=candidate_election.candidate %}
                            <tr>
                                <td>
                                    <a href="{% url "candidate_detail" election.year election.position candidate.slug %}">{{ candidate.fullname }}</a>
                                </td>

                                {% for specific_proposal in specific_proposals %}
                                <td>
                                        {% if cp_map_yes_no|get_item:candidate.id|get_item:specific_proposal.id == True %}
                                            <i class="fa fa-check text-success"></i>
                                        {% elif cp_map_yes_no|get_item:candidate.id|get_item:specific_proposal.id == False %}
                                            <i class="fa fa-ban text-danger"></i>
                                        {% else %}
                                            <span class="text-muted">n/a</span>
                                        {% endif %}

                                        {% if cp_map_blurb|get_item:candidate.id|get_item:specific_proposal.id %}
                                        <a tabindex="0" class="fa fa-info-circle"
                                            href="#!"
                                            data-toggle="popover"
                                            data-trigger="focus"
                                            data-html="true"
                                            data-container="body"
                                            data-content="{{ cp_map_blurb|get_item:candidate.id|get_item:specific_proposal.id }}"></a>
                                        {% endif %}
                                </td>
                                {% endfor %}

                            </tr>
			    {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
