{% extends 'base.html' %}
{% load yt_direct markdown truncate_website from overview %}
{% load static %}
{% load humanize %}
{% load overview %}
{% load fullurl %}

{% block body_id %}candidate_detail{% endblock %}

{% block meta_description %}{{ object.blurb|markdown|striptags }}{% endblock %}

{% block head_extra %}
<link rel="canonical" href="{{ canonical_url }}" />

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{% buildfullurl object.headshot.url %}"/>

<meta property="og:title" content="{{ title }}" />
<meta property="og:image" content="{% buildfullurl object.headshot.url %}"/>
<meta property="og:description" content="{{ description }}" />
<meta property="og:site_name" content="Cambridge.vote"/>

<script>
    // data for candidate_map.js
    var initialLocations = {{ candidate_locations|safe }};
</script>
<script>{% include "overview/candidate_map.js" %}</script>

{{ schema_org|json_ld }} 

<style>
#map {
    height: 350px;
    width: 100%;
}

p:last-of-type {
    /* make citation appear immediately below */
    margin-bottom: 0px;
}
</style>

<script defer src="//maps.googleapis.com/maps/api/js?&callback=initMap&key={{ GOOGLE_EMBED_API_KEY }}&q=Cambridge"></script>
{% endblock %}


{% block content %}
<div class="bg-black text-light">
    <main class="container">
    <div class="row">
        <div class="col-12 candidate-info-body">
            <div class="avatar-and-icon">
                <div style="position: relative">
                    <div class="avatar">
                        <picture>
                        <img
                         class="rounded-circle avatar-circle img-fluid"
                         height=500
                         width=500
                         src="{{ object.headshot.url }}"
                         alt="{{ object.headshot_description }}">
                        </picture>
                    </div>
                </div>
            </div>

            <div class="name-and-info mb-0">
                <h1 class="mb-0">{{ object.candidate.fullname }}</h1>

                <p>
                    <i>
                        {% if object.candidate.pronoun == 'he' %}
                            He/Him
                        {% elif  object.candidate.pronoun == 'she'%}
                            She/Her
                        {% elif  object.candidate.pronoun == 'they'%}
                            They/Them
                        {% endif %}
                    </i>
                </p>

                <dl class="text-left mb-0">
                    {% if object.job and object.is_incumbent %}
                        <dt>Currently</dt>
                        <dd class="mb-0">City Councillor</dd>
                        <dt class="mt-0" style="line-height: 1rem;">Also</dt>
                        <dd class="mt-0" style="line-height: 1rem;">{{ object.job }}</dd>
                    {% elif object.is_incumbent %}
                        <dt>Currently</dt>
                        <dd>City Councillor</dd>
                    {% elif object.job %}
                        <dt>Currently</dt>
                        <dd style="line-height: 1rem;">{{ object.job }}</dd>
                    {% endif %}

                    {% if object.short_history_text %}
                        <dt>Election history</dt>
                        <dd class="mb-0" style="line-height: 1rem;">{{ object.short_history_text }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
    </main>
</div>

<section class="container">
    <div class="row">
        <div class="col-12 d-none d-sm-block">
            <h2 id="more">More about {{object.candidate.fullname}}</h2>
        </div>

	{% if object.website or object.city_website %}
        <div class="col-12 text-center">
            <ul class="list-inline" id="official-sites">
                {% if object.website %}
                <li class="list-inline-item">
                    <a class="btn btn-website fa-button" rel="noopener" target="_blank" href="{{ object.website }}" aria-label="{{ object.candidate.shortname }}&rsquo;s Website">
                        <i class="fa fa-globe-americas"></i>
                        {# {{ object.website|truncate_website }} #}
                        <span>Website</span>
                    </a>
                </li>
                {% endif %}

                {% if object.city_website %}
                <li class="list-inline-item">
                    <a class="btn btn-website fa-button" rel="noopener" target="_blank" href="{{ object.city_website }}" aria-label="{{ object.candidate.shortname }}&rsquo;s City Page">
                        <i class="fa fa-landmark"></i>
                        {# {{ object.city_website|truncate_website }} #}
                        <span>City Page</span>
                    </a>
                </li>
                {% endif %}
            </ul>
	</div>
	{% endif %}

        <div class="col-12 text-center">
            <ul class="list-inline d-flex flex-wrap justify-content-center" id="socials">
                {% if object.facebook %}
                <li class="list-inline-item">
                    <a class="btn btn-facebook fa-button" rel="noopener" target="_blank" href="{{ object.facebook_url }}" aria-label="{{ object.candidate.shortname }}&rsquo;s Website">
                        <i class="fab fa-facebook"></i>
                        <span>Facebook</span>
                    </a>
                </li>
                {% endif %}

                {% if object.twitter %}
                <li class="list-inline-item">
                    <a class="btn btn-twitter fa-button" rel="noopener" target="_blank" href="{{ object.twitter_url }}" aria-label="{{ object.candidate.shortname }}&rsquo;s Twitter">
                        <i class="fab fa-twitter"></i>
                        <span>Twitter</span>
                    </a>
                </li>
                {% endif %}

                {% if object.linkedin %}
                <li class="list-inline-item">
                    <a class="btn btn-linkedin fa-button" rel="noopener" target="_blank" href="{{ object.linkedin_url }}" aria-label="{{ object.candidate.shortname }}&rsquo;s LinkedIn">
                        <i class="fab fa-linkedin"></i>
                        <span>LinkedIn</span>
                    </a>
                </li>
                {% endif %}

                {% if object.instagram %}
                <li class="list-inline-item">
                    <a class="btn btn-instagram fa-button" rel="noopener" target="_blank" href="{{ object.instagram_url }}" aria-label="{{ object.candidate.shortname }}&rsquo;s Instagram">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>
                {% endif %}

                {% if object.nextdoor %}
                <li class="list-inline-item">
                    <a class="btn btn-nextdoor fa-button" rel="noopener" target="_blank" href="{{ object.nextdoor_url }}" aria-label="{{ object.candidate.shortname }}&rsquo;s Nextdoor">
                        <i class="fas fa-home"></i>
                        <span>Nextdoor</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="col-12">
            {{ object.blurb|markdown }}
        </div>

        <div class="col-12">
            {% if object.candidate.wikipedia_page %}
            <a class="btn btn-wikipedia fa-button" rel="noopener" target="_blank" href="{{ object.candidate.wikipedia_url }}" aria-label="{{ object.candidate.shortname }}&rsquo;s Wikipedia">
                <i class="fab fa-wikipedia-w"></i>
                <span>Wikipedia</span>
            </a>
            {% endif %}

        </div>

        <div class="col-12 text-center">
            <dl class="dl-horizontal pt-4">
                <dt>Incumbent</dt>
                <dd>{{ object.is_incumbent|yesno:"Yes,No" }}</dd>

                {% if candidate_degrees %}
                    <dt>Education</dt>
                    <dd>
                        {% spaceless %}
                        <ul style="list-style: none; margin: 0; padding: 0">
                            {% for degree in candidate_degrees %}
                            <li>
                                {% if degree.letters %}<span>{{degree.letters}}</span>{% endif %}
                                {% if degree.letters and degree.school %}<span>, </span>{% endif %}
                                {% if degree.school %}<span>{{degree.school}}</span>{% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endspaceless %}
                    </dd>
                {% endif %}

                <dt>Age
                    <a tabindex="0"
                        class="fa fa-info-circle"
                        role="button"
                        href="#!"
                        data-toggle="popover"
                        data-trigger="focus"
                        data-html="true"
                        data-content='On day of election'>
                    </a>
                </dt>
                <dd>{{ object.candidate.date_of_birth|timesince:election.date }}
                {% if object.candidate.date_of_birth or object.candidate.place_of_birth %}
                <br>
                <span class="text-muted">
                    Born
                    {% if object.candidate.place_of_birth %}in {{ object.candidate.place_of_birth }}{% endif %}
                    {% if object.candidate.date_of_birth %}in {{ object.candidate.date_of_birth|date:"Y" }}{% endif %}
                </span>
                {% endif %}
                </dd>

                {% if object.date_of_registration %}
                <dt>Voting</dt>
                <dd>Reg. {{ object.date_of_registration }}
                    <a tabindex="0"
                    class="fa fa-info-circle"
                    role="button"
                    href="#!"
                    data-toggle="popover"
                    data-trigger="focus"
                    data-html="true"
                    data-content='Date candidate first registered to vote in Cambridge.'>
                </a>
                <br>

                <details>
                  <summary>
                    History <a tabindex="0" class="fa fa-info-circle"
                                href="#!"
                                data-toggle="popover"
                                data-trigger="focus"
                                data-html="true"
                                data-container="body"
                                data-content='Voting record since 2012 from MA Votebuilder (may be incomplete, ex. for out-of-state elections or because of errors in reporting).'></a>
                  </summary>

                  {% if not candidate_voting_history %}
                    No record
                  {% else %}
                        <ul style="list-style: none; text-align: left">
                        {% for candidate_election in candidate_voting_history %}
                            {% if candidate_election.voted is True %}
                            <li>
                                🗳️
                                {{candidate_election.election.year}}

                                {% if candidate_election.election.subtype == "general" %}
                                    General
                                {% elif candidate_election.election.subtype == "local" %}
                                    Municipal
                                {% elif candidate_election.election.subtype == "local_primary" %}
                                    Municipal Primary (ex., in Boston)
                                {% elif candidate_election.election.subtype == "presidental_primary" %}
                                    Presidental Primary
                                {% elif candidate_election.election.subtype == "primary" %}
                                    General Primary
                                {% elif candidate_election.election.subtype == "special" %}
                                    Special
                                {% elif candidate_election.election.subtype == "special_primary" %}
                                    Special Primary
                                {% endif %}

                                {% if candidate_election.election.subtype == "primary" or candidate_election.election.subtype == "presidental_primary" or candidate_election.election.subtype == "special_primary" %}
                                    {% if candidate_election.political_party %}
                                        -
                                        {% if candidate_election.political_party == "dem" %}
                                            Democratic
                                        {% elif candidate_election.political_party == "rep" %}
                                            Republican
                                        {% else %}
                                            Other
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                  {% endif %}
                </details>

                </dd>
                {% endif %}

            </dl>
        </div>
    </div>
</section>

<div class="bg-gray">
    <section class="container">
        <div class="row">
            <section class="col" style="padding-bottom: 0">
                <h2 id="where">Where {{object.candidate.shortname}} Lives</h2>
                <dl class="dl-horizontal">
                    <dt>Address</dt>
                    <dd>
                    {{ object.get_housing_status_display|title }}s
                    {% if object.housing_status_note %}({{object.housing_status_note}}){% endif %}
                    at
                    <strong>{{ object.address }}</strong>
                    {% if object.housing_sell_value %}
                    <br>
                    <span class="text-muted">Valued at approx. ${{ object.housing_sell_value|floatformat:0|intcomma }}
                        <a tabindex="0" class="fa fa-info-circle"
                           href="#!"
                           data-toggle="popover"
                           data-trigger="focus"
                           data-html="true"
                           data-container="body"
                           data-content='Housing value estimated from last assessed property tax value and public real estate estimates (like Zillow). In a couple of cases, that data was not available; it was then estimated based on neighboring properties.'>
                        </a>
                    </span>
                    {% endif %}
                    {% if object.housing_sale_date %}
                    <br>
                    <span class="text-muted">Last sold {{ object.housing_sale_date }}
                        {% if object.housing_sale_price %}
                        for ${{ object.housing_sale_price|floatformat:0|intcomma }}
                        {% endif %}
                        {% if object.housing_sale_price_inflation %}
                        <br>
                        inflation adjusted approx. ${{ object.housing_sale_price_inflation|floatformat:0|intcomma }}
                        {% endif %}
                    </span>
                    {% endif %}
                    </dd>
                </dl>
            </section>
        </div>

        <div class="row justify-content-center">
            <section class="col-md-10">
                <div id="map" class="map-container">
                    <div class="map-alert">
                        <div class="alert alert-warning"></div>
                    </div>
                </div>
            </section>
        </div>

    </section>
</div>

<div>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="housing-policies">{{object.candidate.shortname}} on Housing</h2>
            </div>
        </div>

        {% if specific_housing_support %}
        <div class="row">
            <div class="col-12">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Proposal</th>
                            <th>Supported?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for housing in specific_housing_support %}
                        <tr>
                            <td>
                                {% if housing.specific_proposal.shortname %}
                                    {{ housing.specific_proposal.shortname }}
                                {% else %}
                                    {{ housing.specific_proposal.fullname }}
                                {% endif %}

                                {% if housing.specific_proposal.blurb %}
                                <a tabindex="0" class="fa fa-info-circle"
                                    href="#!"
                                    data-toggle="popover"
                                    data-trigger="focus"
                                    data-html="true"
                                    data-container="body"
                                    data-content="{{ housing.specific_proposal.blurb }}">
                                </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if housing.simple_yes_no == True %}
                                    <i class="fa fa-check text-success"></i>
                                {% elif housing.simple_yes_no == False %}
                                    <i class="fa fa-ban text-danger"></i>
                                {% else %}
                                    <span class="text-muted">n/a</span>
                                {% endif %}

                                {% if housing.blurb %}
                                <a tabindex="0" class="fa fa-info-circle"
                                    href="#!"
                                    data-toggle="popover"
                                    data-trigger="focus"
                                    data-html="true"
                                    data-container="body"
                                    data-content="{{ housing.blurb }}">
                                </a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        <div class="row">
            {% if object.housing_blurb %}
                <div class="col-12 py-3">
                    {{ object.housing_blurb|markdown }}
                </div>
            {% endif %}

            <div class="col-12">
                {% for quote in object.quote_set.all %}
                {% if quote.display_housing %}
                <blockquote class="blockquote">
                    {{ quote.quote|markdown }}
                    <footer class="blockquote-footer">
                        {{ quote.by|default:object.candidate.fullname }}
			{% if quote.cite %}, <cite>{{ quote.cite|markdown_inline }}</cite>{% endif %}
                    </footer>
                </blockquote>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </section>
</div>

<div>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="policies">{{object.candidate.shortname}} on Other Issues</h2>
            </div>
        </div>

        {% if specific_proposal_support %}
        <div class="row">
            <div class="col-12">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Proposal</th>
                            <th>Supported?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proposal in specific_proposal_support %}
                        <tr>
                            <td>
                                {% if proposal.specific_proposal.shortname %}
                                    {{ proposal.specific_proposal.shortname }}
                                {% else %}
                                    {{ proposal.specific_proposal.fullname }}
                                {% endif %}

                                {% if proposal.specific_proposal.blurb %}
                                <a tabindex="0" class="fa fa-info-circle"
                                    href="#!"
                                    data-toggle="popover"
                                    data-trigger="focus"
                                    data-html="true"
                                    data-container="body"
                                    data-content="{{ proposal.specific_proposal.blurb }}">
                                </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if proposal.simple_yes_no == True %}
                                    <i class="fa fa-check text-success"></i>
                                {% elif proposal.simple_yes_no == False %}
                                    <i class="fa fa-ban text-danger"></i>
                                {% else %}
                                    <span class="text-muted">n/a</span>
                                {% endif %}

                                {% if proposal.blurb %}
                                <a tabindex="0" class="fa fa-info-circle"
                                    href="#!"
                                    data-toggle="popover"
                                    data-trigger="focus"
                                    data-html="true"
                                    data-container="body"
                                    data-content="{{ proposal.blurb }}">
                                </a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-12">
                {% for quote in object.quote_set.all %}
                {% if quote.display %}
                <blockquote class="blockquote">
                    {{ quote.quote|markdown }}
                    <footer class="blockquote-footer">
                        {{ quote.by|default:object.candidate.fullname }}
			{% if quote.cite %}, <cite>{{ quote.cite|markdown_inline }}</cite>{% endif %}
                    </footer>
                </blockquote>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </section>
</div>

<div class="bg-gray">
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="endorsements">Endorsements for {{object.candidate.shortname}}</h2>
            </div>

            <div class="col-12">
                {% if endorsements or object.endorsements_link %}
                    {% if endorsements %}
                        <table class="table table-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Organization</th>
                                    <th>Cambridge?</th>
                                    <th>Union?</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for endorsement in endorsements %}
                                <tr>
                                    <td>
                                        {{ endorsement.organization.name }}
                                    </td>
                                    <td>
                                        {% if endorsement.organization.is_local == True %}
                                        <i class="fa fa-check text-success"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if endorsement.organization.is_union == True %}
                                        <i class="fa fa-check text-success"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if endorsement.link %}
                                            <a class="endorsement" href="{{ endorsement.link }}" target="_blank">
                                                {% if endorsement.date %}
                                                    on {{endorsement.date|date}}
                                                {% else %}
                                                this cycle
                                                {% endif %}
                                            </a>
                                        {% elif endorsement.date %}
                                            on {{endorsement.date|date}}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                    {% endif %}

                {% if object.endorsements_link %}
                <hr/>
                <a href="{{ object.endorsements_link }}" target="_blank">View on their site &raquo;</a>
                {% endif %}
                </dd>
                {% endif %}
            </div>
        </div>
    </section>
</div>

<div>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="q-and-a">Q&amp;A</h2>
                <h3>Interviews with {{object.candidate.shortname}}</h3>
            </div>

            {% for response in questionnaire_responses %}
            <div class="col-12">
                <div class="card border border-green d-none d-md-block survey">
                    <div class="card-body">
                        <h4>
                            <a target="_blank" href="{{response.questionnaire_link }}">
                                {{ response.questionnaire.name }}
                            </a>
                            <i class="fas fa-external-link-alt"></i>
                        </h4>
                        <p>{{ response.questionnaire.description }}</p>
                    </div>
                </div>
                <section class="bg-white border border-green d-md-none row survey">
                    <div class="col">
                        <h4>
                            <a target="_blank" href="{{response.questionnaire_link }}">
                                {{ response.questionnaire.name }}
                            </a>
                            <i class="fas fa-external-link-alt"></i>
                        </h4>
                        <p>{{ response.questionnaire.description }}</p>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            {% if interview_videos %}
            <div class="col-12">
              <div class="row align-items-center" style="background:#fff;padding:1rem;">

                <!-- Left button -->
                 <div class="col-auto">
                  <a href="#videoCarousel" role="button" data-slide="prev"
                     style="color:#555;font-size:64px;font-weight:bold;text-decoration:none;line-height:1;">
                    ‹
                  </a>
                </div>

                <!-- Center: carousel-->
                <div class="col">
                  <div id="videoCarousel" class="carousel" data-interval="false" aria-label="Video carousel">
                    <div class="carousel-inner">
                      {% for video in interview_videos %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">

                          {% if "youtube.com" in video.link %}
                            <div class="embed-responsive embed-responsive-16by9 mx-auto" style="max-width:800px;">
                              <iframe class="embed-responsive-item"
                                      src="{{ video.link }}?start={{ video.start_time }}&end={{ video.end_time }}"
                                      title="{{ video.title }}"
                                      frameborder="0"
                                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                      referrerpolicy="strict-origin-when-cross-origin"
                                      allowfullscreen>
                              </iframe>
                            </div>

                            <p class="text-center mt-2">
                              {{ video.blurb }}
                              {% if video.start_time %} from {{ video.start_time }}{% endif %}
                              {% if video.end_time %} to {{ video.end_time }}{% endif %}
                            </p>

                          {% else %}
                            <div class="video text-center">
                              <p>Video Interview at {{ video.link }}</p>
                              <a href="#1">
                                <object data="{{ video.link }}" style="width:100%" height="225"></object>
                              </a>
                            </div>
                          {% endif %}

                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <!-- Right button -->
                <div class="col-auto">
                  <a href="#videoCarousel" role="button" data-slide="next"
                     style="color:#555;font-size:64px;font-weight:bold;text-decoration:none;line-height:1;">
                    ›
                  </a>
                </div>

              </div>
            </div>
          {% endif %}
        </div>
    </section>
</div>

<div class="bg-gray">
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="q-and-a">Forums</h2>
                <h3>Panels {{object.candidate.shortname}} participated in</h3>
            </div>

            {% for response in candidate_forums %}
            <div class="col-12">
                <div class="card border border-green d-none d-md-block survey">
                    <div class="card-body">
                        <h4>
                            <a target="_blank" href="{{response.forum_link }}">
                                {{ response.forum.name }}
                            </a>
                            <i class="fas fa-external-link-alt"></i>
                        </h4>
                        <p>{{ response.forum.description }}</p>
                    </div>
                </div>
                <section class="bg-white border border-green d-md-none row survey">
                    <div class="col">
                        <h4>
                            <a target="_blank" href="{{response.forum_link }}">
                                {{ response.forum.name }}
                            </a>
                            <i class="fas fa-external-link-alt"></i>
                        </h4>
                        <p>{{ response.forum.description }}</p>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% comment %}
<div>
    <section class="container" id="quotes">
        <div class="row">
            <div class="col-12">
                <h2 id="quotes">Quotes by or about {{object.candidate.shortname}}</h2>
                {% for quote in object.quote_set.all %}
                {% if quote.display %}
                <blockquote class="blockquote">
                    {{ quote.quote|markdown }}
                    <footer class="blockquote-footer">
                        {{ quote.by|default:object.candidate.fullname }}
			{% if quote.cite %}, <cite>{{ quote.cite|markdown_inline }}</cite>{% endif %}
                    </footer>
                </blockquote>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endcomment %}

<div>
    <section class="container" id="press">
        <div class="row">
            <div class="col-12">
                <h2 id="press">Press</h2>
                <h3>Articles about or by {{object.candidate.shortname}}</h3>
            </div>

            {% for article_snippet in articles %}
            <div class="col-12">
                <div class="card border border-green d-none d-md-block press-article">
                    <div class="card-body">
                        <a href="{{ article_snippet.pressarticle.pressoutlet.homepage }}" class="h4">
                            {{ article_snippet.pressarticle.pressoutlet.name }}
                        </a>

                        <a href="{{ article_snippet.pressarticle.link }}" class="h3">
                            {{ article_snippet.pressarticle.title }}
                            <i class="fa fa-external-link-alt"></i>
                        </a>

                        {{ article_snippet.sample|linebreaks }}

                        {% if article_snippet.pressarticle.date %}
                            {{ article_snippet.pressarticle.date }}
                        {% endif %}

                        {% if article_snippet.pressarticle.date and article_snippet.pressarticle.author %}
                            &mdash;
                        {% endif %}

                        {% if article_snippet.pressarticle.author %}
                            {{ article_snippet.pressarticle.author }}
                        {% endif %}
                    </div>
                </div>
                <section class="bg-white border border-green d-md-none row press-article">
                    <div class="col">
                        <a href="{{ article_snippet.pressarticle.pressoutlet.homepage }}" class="h4">
                            {{ article_snippet.pressarticle.pressoutlet.name }}
                        </a>

                        <a href="{{ article_snippet.pressarticle.link }}" class="h3">
                            {{ article_snippet.pressarticle.title }}
                            <i class="fa fa-external-link-alt"></i>
                        </a>

                        {{ article_snippet.sample|linebreaks }}

                        <div class="text-muted small">
                        {% if article_snippet.pressarticle.date %}
                            {{ article_snippet.pressarticle.date }}
                        {% endif %}

                        {% if article_snippet.pressarticle.date and article_snippet.pressarticle.author %}
                            &mdash;
                        {% endif %}

                        {% if article_snippet.pressarticle.author %}
                            {{ article_snippet.pressarticle.author }}
                        {% endif %}
                        </div>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

<div class="bg-gray">
    <section class="container">
        <div class="row">
            <div class="col">
                <h2 id="finance">Campaign finance</h2>

                <h3>
		    {% if object.fundraising_info_url %}
			{% if "https://cambridgereview.org/" in object.fundraising_info_url %}
			    See <a href="{{ object.fundraising_info_url }}">CambridgReview</a> for detailed information about {{object.candidate.shortname}}'s fundraising
			{% else %}
			    See <a href="{{ object.fundraising_info_url }}">{{ object.fundraising_info_url }}</a> for detailed information about {{object.candidate.shortname}}'s fundraising
			{% endif %}
		    {% else %}
			How much {{object.candidate.shortname}} has raised and spent
		    {% endif %}
		</h3>

                <div class="stats">
                    <div>
                        <i class="fa fa-plus text-success"></i>
                        <strong>
                            {% if money_raised is not None %}
                            ${{ money_raised|floatformat:0|intcomma }}
                            {% else %}
                            <i>TBD</i>
                            {% endif %}
                        </strong>
                        <div>Raised in {{ object.election.year }}
                        {% if object.self_loan %}
                            <br>
                            ${{object.self_loan}} from self included
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="sticky-footer shadow bg-white">
    <section class="container">
        <div class="row">
            <div class="col" id="my-rankings-footer">
                <a rel="nofollow" class="btn btn-red btn-bold fa-button" href="{% url "my_ranking" object.election.year object.election.position %}">
                    <i class="fa fa-list-ol"></i>
                    <span>View my ballot</span>
                </a>

                <a rel="nofollow" class="{% if object.hide or not object.is_running or object in my_candidates %}disabled{% endif %} btn btn-dark btn-bold fa-button" {% if object.hide or not object.is_running or object in my_candidates %}href="#"{% else %}href="{% url "append_to_ballot" election.year election.position object.candidate.slug %}"{% endif %}>
                    {% if object.hide or not object.is_running %}
                    <span>Candidate not running</span>
                    {% elif object in my_candidates %}
                    <span>Candidate on ballot</span>
                    {% else %}
                    <i class="fa fa-plus"></i>
                    <span>Add this candidate to ballot</span>
                    {% endif %}
                </a>
            </div>
        </div>
    </section>
</div>
{% endblock %}
