{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load get_item from overview %}

{% block body_id %}candidate_public_comment{% endblock %}

{% block content %}
<div>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2>Written Comments</h2>
            </div>
            <h4>Data source</h4>
            <div class="col-12">
                <p>We pulled about 8,000 comments from <a href="http://cambridgema.iqm2.com/Citizens/calendar.aspx">the Council Record Website</a> spanning from early 2016 through October 2023. This is not a complete record of all public comment given in that time period, as that website does not capture in-person comments, and there are about 150 instances where individuals were either not identified or were grouped together as "sundry comments". </p>
                <p>We've provided comments made by council candidates below.</p>
            </div>
            <h4>Data patterns</h4>
            <p>Although the data we have is a subset of all comments, there are some general patterns that would likely hold for in-person and "sundry" comments as well:</p>
            <ul>
                <li>Most people do not send in comments. Even if all of the ~8,000 comments were from different individuals, over 115,000 people live in Cambridge - and more certainly moved in and out over the time period.</li>
                <li>It's common to only comment once: about 1/3 of the comments we pulled had unique senders.</li>
                <li>The majority of comments come from repeat commenters.</li>
                <li>There are a number of "super commenters" who've commented dozens or even over a hundred times. Sometimes these people are commenting for a group they are a part of, sometimes they are commenting on their own.
                    <ul>
                        <li>Young Kim, 145+</li>
                        <li>Robert J. La Tremouille, the goose guy, 115+</li>
                        <li>Members of the CResA board:
                            <ul>
                                <li>Hasson Rashid, 135+</li>
                                <li>Lee Farris, 70+</li>
                                <li>Kathy Watkins, 30+</li>
                            </ul>
                        </li>
                        <li>Members of the CCC board or advisors:
                            <ul>
                                <li>Carol O'Hare, 75+</li>
                                <li>Suzanne Blier, 50+ (also associated with Harvard Square Business Association)</li>
                                <li>Marilee Meyer, 45+</li>
                            </ul>
                        </li>
                        <li>And 2023 council candidate Joan Pickett, 40+!</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</div>

<div class="bg-gray">
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2>Candidate Comments</h2>
                <div class="table-responsive">
                    <table class="table table-striped comparison-table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Candidate</th>
                                <th>Date<th>
                                <th>Comment Link</th>
                                <th>Comment Header</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
