{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load get_item from overview %}

{% block body_id %}candidate_comparison{% endblock %}

{% block content %}
<div>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2>Candidate Information</h2>
            </div>
            <div class="col-12">
                <p>Who's the youngest? The oldest? The longest-registered in Cambridge? The one who owns the most expensive house?</p>
            </div>
        </div>
    </section>
</div>

<div class="bg-gray">
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h4>The Political Basics</h4>
                <div class="table-responsive">
                    <table class="table table-striped comparison-table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Candidate</th>
                                <th>Photo</th>
                                <th>Incumbent?</th>
                                <th>Election History</th>
                                <th>Party Registration</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for candidate in candidates %}
                            <tr>
                                <td>
                                    <a href="{% url "candidate_detail" candidate.slug %}">{{ candidate.fullname }}</a>
                                    <p>
                                        <i>
                                            {% if candidate.pronoun == 'he' %}
                                                He/Him
                                            {% elif  candidate.pronoun == 'she'%}
                                                She/Her
                                            {% elif  candidate.pronoun == 'they'%}
                                                They/Them
                                            {% endif %}
                                        </i>
                                    </p>
                                </td>

                                <td>
                                    <div>
                                        <div style="position: relative">
                                            <div>
                                                <picture>
                                                <img
                                                 class="rounded-circle avatar-circle img-fluid"
                                                 height=125
                                                 width=125
                                                 src="{{ candidate.headshot.url }}"
                                                 alt="{{ candidate.headshot_description }}">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    {% if candidate.is_incumbent %}
                                        <i class="fa fa-check text-success"></i>
                                    {% endif %}
                                </td>

                                <td>
                                    {{ candidate.short_history_text }}
                                </td>

                                <td>
                                    {% if candidate.political_party == "dem" %}
                                        Dem.
                                    {% elif candidate.political_party == "rep" %}
                                        Rep.
                                    {% elif candidate.political_party == "other" %}
                                        Other
                                    {% elif candidate.political_party == "" %}
                                        (Ind.)
                                    {% endif %}
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h4>Demographics</h4>
                <div class="table-responsive">
                    <table class="table table-striped comparison-table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Candidate</th>
                                <th>Age</th>
                                <th>Voter Reg</th>
                                <th>Home Value</th>
                                <th>Education</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for candidate in candidates %}
                            <tr>
                                <td>
                                    <a href="{% url "candidate_detail" candidate.slug %}">{{ candidate.fullname }}</a>
                                    <p>
                                        <i>
                                            {% if candidate.pronoun == 'he' %}
                                                He/Him
                                            {% elif  candidate.pronoun == 'she'%}
                                                She/Her
                                            {% elif  candidate.pronoun == 'they'%}
                                                They/Them
                                            {% endif %}
                                        </i>
                                    </p>
                                </td>

                                <td>
                                    {% if candidate.candidate.date_of_birth %}
                                        {{ candidate.candidate.date_of_birth|timesince }}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if candidate.date_of_registration %}
                                        {{ candidate.date_of_registration|timesince }}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if candidate.housing_sell_value %}
                                        ${{ candidate.housing_sell_value|floatformat:0|intcomma }}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if  candidate_degree_map|get_item:candidate.id %}
                                        {% spaceless %}
                                        <ul style="list-style: none; margin: 0; padding: 0">
                                            {% for degree in candidate_degree_map|get_item:candidate.id %}
                                            <li>
                                                - {% if degree.letters %}<span>{{degree.letters}}</span>{% endif %}
                                                {% if degree.letters and degree.school %}<span>, </span>{% endif %}
                                                {% if degree.school %}<span>{{degree.school}}</span>{% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endspaceless %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
