{% extends 'base.html' %}
{% load static %}
{% load fullurl %}
{% load markdown from overview %}


{% block title %}Candidates Running in 2019{% endblock %}
{% block meta_description %}{{ runners.count }} candidates are running for 9 seats in 2019. Determine who deserves your #1, #2, or #9 vote on November 7th.{% endblock %}
{% block body_id %}all_candidates{% endblock %}

{% block head_extra %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="cambridgecouncilcandidates.com" />
    <meta name="twitter:title" value="Candidates Running in 2019" />
    <meta name="twitter:description" value="{{ runners.count }} candidates are running for 9 seats in 2019. Determine who deserves your #1, #2, or #9 vote on November 7th." />

    <meta name="twitter:image" content="{% fullstatic "candidate_grid.png" %}"/>
    <meta name="twitter:label1" value="Candidates Running" />
    <meta name="twitter:data1" value="{{ runners.count }}" />

    <meta name="twitter:label2" value="Seats" />
    <meta name="twitter:data2" value="9" />
{% endblock %}


{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <span>
                <div class="section pos">
                    <h2>City Council</h2>

                    <p>{# TODO description of position? #}</p>

                    <div>
                        <strong>Cambridge</strong>

                        {% for candidate in runners %}
                        <div class="candidate card">
                            <div class="card-body candidate-card-body">
                                <div class="avatar-and-icon">
                                    <div style="position: relative">
                                        <div class="avatar">
                                            <img
                                                class="rounded-circle avatar-cirlce img-fluid"
                                                height="500" width="500"  {# all 1:1 #}
                                                src="{{ candidate.headshot }}"
                                                alt="{{ candidate.headshot_description }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="name-and-blurb">
                                    <div class="font-weight-bold name">
                                        {{ candidate.fullname }}
                                    </div>
                                    <p>
                                        {{ candidate.blurb|markdown|truncatechars_html:120|striptags }}
                                        <a class="learn-more" href="{{ candidate.get_absolute_url }}">Learn&nbsp;more&nbsp;&raquo;</a>
                                    </p>
                                </div>

                            </div>
                            <div class="card-footer p-0">
                                <ballot-button></ballot-button>{# TODO think this was ko'd #}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>
{% endblock %}
