{% extends 'base.html' %}
{% load yt_direct markdown truncate_website from overview %}
{% load static %}
{% load humanize %}

{% block body_id %}candidate_detail{% endblock %}

{% block title %}Learn More About {{ candidate.fullname }}{% endblock %}

{% block meta_description %}{{ candidate.blurb|markdown|striptags }}{% endblock %}

{% block head_extra %}
<meta property="og:image" content="{{ candidate.headshot }}">

{% for video in videos %}
    {% if forloop.first %}
        <meta property='og:video' content='{{ video.link|yt_direct }}' />
        <meta property="og:type" content="video">
    {% endif %}
{% endfor %}

<script>
    // data for candidate_map.js
    var initialLocations = {{ candidate_locations|safe }};
</script>
<script>{% include "overview/candidate_map.js" %}</script>

<style>
#map {
    height: 350px;
    width: 100%;
}
</style>


<script defer src="//maps.googleapis.com/maps/api/js?&callback=initMap&key={{ GOOGLE_EMBED_API_KEY }}"></script>
<script defer src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}


{% block content %}
<div class="bg-black text-light">
    <main class="container">
    <div class="row">
        <div class="col-12 candidate-info-body">
            <div class="avatar-and-icon">
                <div style="position: relative">
                    <div class="avatar">
                        <picture>
                        <img
                         class="rounded-circle avatar-circle img-fluid"
                         height=500
                         width=500
                         src="{{ candidate.headshot }}"
                         alt="{{ candidate.headshot_description }}">
                        </picture>
                    </div>
                </div>
            </div>

            <div class="name-and-info">
                <h1>{{ candidate.fullname }}</h1>

                <dl class="text-left">
                    {% if candidate.job %}
                    <dt>Currently</dt>
                    <dd>{{ candidate.job }}</dd>
                    {% elif candidate.is_incumbent %}
                    <dt>Currently</dt>
                    <dd>City Councilor</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
    </main>
</div>

<section class="container">
    <div class="row">
        <div class="col-12">
            <h2>More about {{candidate.fullname}}</h2>
        </div>

        <div class="col-12 text-center">
            <ul class="list-inline" id="socials">
                {% if candidate.website %}
                <li class="list-inline-item">
                    <a class="btn btn-website fa-button" target="_blank" href="{{ candidate.website }}">
                        <i class="fa fa-globe-americas"></i>
                        {# {{ candidate.website|truncate_website }} #}
                        <span>Website</span>
                    </a>
                </li>
                {% endif %}

                {% if candidate.facebook %}
                <li class="list-inline-item">
                    <a class="btn btn-facebook fa-button" target="_blank" href="{{ candidate.facebook_url }}">
                        <i class="fab fa-facebook"></i>
                        <span>Facebook</span>
                    </a>
                </li>
                {% endif %}

                {% if candidate.twitter %}
                <li class="list-inline-item">
                    <a class="btn btn-twitter fa-button" target="_blank" href="{{ candidate.twitter_url }}">
                        <i class="fab fa-twitter"></i>
                        <span>Twitter</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-12">
            {{ candidate.blurb|markdown }}
        </div>


        <div class="col-12 text-center">
            <dl class="dl-horizontal">
                <dt>Incumbent</dt>
                <dd>{{ candidate.is_incumbent|yesno:"Yes,No" }}</dd>

                {% if candidate.education %}
                <dt>Education</dt>
                <dd>{{ candidate.education }}</dd>
                {% endif %}

                <dt>Age</dt>
                <dd>{{ candidate.date_of_birth|timesince }}
                {% if candidate.date_of_birth or candidate.place_of_birth %}
                <br>
                <span class="text-muted">
                    Born
                    {% if candidate.place_of_birth %}in {{ candidate.place_of_birth }}{% endif %}
                    {% if candidate.date_of_birth %}in {{ candidate.date_of_birth|date:"Y" }}{% endif %}
                </span>
                {% endif %}
                </dd>

                {% if candidate.date_of_registration %}
                <dt>Voter Registration</dt>
                <dd>{{ candidate.date_of_registration }} <a class="fa fa-info-circle"
                                                            href="#!"
                                                            data-toggle="popover"
                                                            data-trigger="focus"
                                                            data-html="true"
                                                            data-container="body"
                                                            data-content='Date candidate first registered to vote in Cambridge.'>
                </a>
                <br>
                </dd>
                {% endif %}


            </dl>
        </div>
    </div>
</section>

<div class="bg-gray">
    <section class="container">
        <div class="row">
            <section class="col">
                <h2>Where does {{ candidate.shortname }} live?</h2>
                <dl class="dl-horizontal">
                    <dt>Address</dt>
                    <dd>
                    {{ candidate.get_housing_status_display|title }}s
                    {% if candidate.housing_status_note %}({{candidate.housing_status_note}}){% endif %}
                    at
                    <strong>{{ candidate.address }}</strong>
                    {% if candidate.housing_sell_value %}
                    <br>
                    <span class="text-muted">Valued at approx. ${{ candidate.housing_sell_value|floatformat:0|intcomma }}
                        <a class="fa fa-info-circle"
                           href="#!"
                           data-toggle="popover"
                           data-trigger="focus"
                           data-html="true"
                           data-container="body"
                           data-content='Housing value estimated from last assessed property tax value and public real estate estimates (like Zillow). In a couple of cases, that data was not available; it was then estimated based on neighboring properties.'>
                        </a>
                    </span>
                    {% endif %}
                    {% if candidate.housing_sale_date %}
                    <br>
                    <span class="text-muted">Last sold {{ candidate.housing_sale_date }}
                        {% if candidate.housing_sale_price %}
                        for ${{ candidate.housing_sale_price|floatformat:0|intcomma }}
                        {% endif %}
                        {% if candidate.housing_sale_price_inflation %}
                        <br>
                        inflation adjusted approx. ${{ candidate.housing_sale_price_inflation|floatformat:0|intcomma }}
                        {% endif %}
                    </span>
                    {% endif %}
                    </dd>
                </dl>
            </section>
        </div>

        <div class="row justify-content-center">
            <section class="col-md-10">
                <div id="map" class="map-container">
                    <div class="map-alert">
                        <div class="alert alert-warning"></div>
                    </div>
                </div>
            </section>
        </div>

    </section>
</div>

<section class="container">
    <div class="row">
        <div class="col-12">
            <h2>Endorsements</h2>
        </div>

        {% if endorsements or object.endorsements_link %}
        <dd>
        {% for endorsement in endorsements %}
        {% if endorsement.organization.logo %}
        {% spaceless %}
        {% if endorsement.link %}
        <a class="endorsement" href="{{ endorsement.link }}" target="_blank" data-toggle="tooltip" title="{{ endorsement.organization.name }} endorsed {{ object.shortname }}{% if endorsement.date %} on {{ endorsement.date|date }}{% endif %}">
            <img height="50px" src="{{ endorsement.organization.logo }}" />
        </a>
        {% else %}
        <span class="endorsement" data-toggle="tooltip" title="{{ endorsement.organization.name }} endorsed {{ object.shortname }}{% if endorsement.date %} on {{ endorsement.date|date }}{% endif %}">
            <img height="50px" src="{{ endorsement.organization.logo }}" />
        </span>
        {% endif %}
        {% endspaceless %}
        {% endif %}
        {% endfor %}

        <ul class="endorsements">
            {% for endorsement in endorsements %}
            {% if not endorsement.organization.logo %}
            {% spaceless %}
            <li>
                {% if endorsement.link %}
                <a class="endorsement" href="{{ endorsement.link }}" target="_blank" data-toggle="tooltip" title="{{ endorsement.organization.name }} endorsed {{ object.shortname }}{% if endorsement.date %} on {{ endorsement.date|date }}{% endif %}">
                    {{ endorsement.organization.name }}
                </a>
                {% else %}
                <span class="endorsement" data-toggle="tooltip" title="{{ endorsement.organization.name }} endorsed {{ object.shortname }}{% if endorsement.date %} on {{ endorsement.date|date }}{% endif %}">
                    {# div because display:block for new lines #}
                    {{ endorsement.organization.name }}
                </span>
                {% endif %}
                {% endspaceless %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        {% if object.endorsements_link %}
        <hr/>
        <a href="{{ object.endorsements_link }}" target="_blank">View on their site &raquo;</a>
        {% endif %}
        </dd>
        {% endif %}


    </div>
</section>

<div class="bg-gray">
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2>Q&amp;A</h2>
                <h3>Interviews with the candidate</h3>
            </div>

            {% for response in candidate.questionnaireresponse_set.all %}
            <div class="col-12">
                <div class="card border border-green d-none d-md-block survey">
                    <div class="card-body">
                        <h4>
                            <a target="_blank" href="{{response.questionnaire_link }}">
                                {{ response.questionnaire.name }}
                            </a>
                            <i class="fas fa-external-link-alt"></i>
                        </h4>
                        <p>{{ response.questionnaire.description }}</p>
                    </div>
                </div>
                <section class="bg-white border border-green d-md-none row survey">
                    <div class="col">
                        <h4>
                            <a target="_blank" href="{{response.questionnaire_link }}">
                                {{ response.questionnaire.name }}
                            </a>
                            <i class="fas fa-external-link-alt"></i>
                        </h4>
                        <p>{{ response.questionnaire.description }}</p>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% comment %}TODO convert from ruby to django implementation
<section class="container">
    <div class="row">
        <div class="col-12">
            <h2>Policy</h2>
            <h3>Where the candidate stands on certain issues</h3>
        </div>
        <div class="col-12" id="policies">
            {% for policy in candidate.candidate_policies %}
            <div class="d-block">
                <i class="<%= position.policy.icon_class %> fa fa-2x text-success"></i>
                <strong class="montserrat">
                    <%= position.policy.name %>
                </strong>
            </div>
            <div class="text-left">
                <%= position.position %>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endcomment %}

<section class="container" id="press">
    <div class="row">
        <div class="col-12">
            <h2 id="">Quotes</h2>
            {% for quote in candidate.quote_set.all %}
            {% if quote.display %}
            <blockquote>
                <p>{{ quote.quote|markdown }}</p>
                <footer>
                    {{ quote.by|default:candidate.fullname }}{% if quote.cite %}, <cite>{{ quote.cite }}</cite>{% endif %}
                </footer>
            </blockquote>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<div class="bg-gray">
    <section class="container" id="press">
        <div class="row">
            <div class="col-12">
                <h2>Press</h2>
                <h3>Articles about the candidate</h3>
            </div>

            {% for article_snippet in articles %}
            <div class="col-12">
                <div class="card border border-green d-none d-md-block press-article">
                    <div class="card-body">
                        <a href="{{ article_snippet.pressarticle.pressoutlet.homepage }}" class="h4">
                            {{ article_snippet.pressarticle.pressoutlet.name }}
                        </a>

                        <a href="{{ article_snippet.pressarticle.link }}" class="h3">
                            {{ article_snippet.pressarticle.title }}
                            <i class="fa fa-external-link-alt"></i>
                        </a>

                        {{ article_snippet.sample|linebreaks }}
                        <div class="text-muted small">{{ article_snippet.pressarticle.date }} &mdash; {{ article_snippet.pressarticle.author }}</div>
                    </div>
                </div>
                <section class="bg-white border border-green d-md-none row press-article">
                    <div class="col">
                        <a href="{{ article_snippet.pressarticle.pressoutlet.homepage }}" class="h4">
                            {{ article_snippet.pressarticle.pressoutlet.name }}
                        </a>

                        <a href="{{ article_snippet.pressarticle.link }}" class="h3">
                            {{ article_snippet.pressarticle.title }}
                            <i class="fa fa-external-link-alt"></i>
                        </a>

                        {{ article_snippet.sample|linebreaks }}
                        <div class="text-muted small">{{ article_snippet.pressarticle.date }} &mdash; {{ article_snippet.pressarticle.author }}</div>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

<section class="container">
    <div class="row">
        <div class="col">
            <h2>Campaign finance</h2>
            <h3>How much the candidate has raised and spent</h3>
            <div class="stats">
                <div>
                    <strong>
                        {% if latest_bank_report.ending_balance_display is not None %}
                        ${{ latest_bank_report.ending_balance_display|intcomma }}
                        {% else %}
                        <i>TBD</i>
                        {% endif %}
                    </strong>
                    <div>Current balance</div>
                </div>
                <div>
                    <strong>
                        {% if money_2019_start is not None %}
                        ${{ money_2019_start|intcomma }}
                        {% else %}
                        <i>TBD</i>
                        {% endif %}
                    </strong>
                    <div>Balance at the start of 2019</div>
                </div>
                <div>
                    <i class="fa fa-plus text-success"></i>
                    <strong>
                        {% if money_2019_raised is not None %}
                        ${{ money_2019_raised|intcomma }}
                        {% else %}
                        <i>TBD</i>
                        {% endif %}
                    </strong>
                    <div>Raised in 2019</div>
                </div>
                <div>
                    <i class="fa fa-minus text-danger"></i>
                    <strong>
                        {% if money_2019_spent is not None %}
                        ${{ money_2019_spent|intcomma }}
                        {% else %}
                        <i>TBD</i>
                        {% endif %}
                    </strong>
                    <div>Spent in 2019</div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bg-gray sticky-footer shadow">
    <section class="container">
        <div class="row">
            <div class="col">
                <div class="d-none d-md-flex">
                    <a class="col btn btn-red btn-bold fa-button" href="{% url "my_ranking" %}">
                        <i class="fa fa-list-ol"></i>
                        <span>View my ballot</span>
                    </a>
                    <a class="{% if object.hide or not object.is_running or object in my_candidates %}disabled{% endif %} col btn btn-dark btn-bold fa-button" href="{% url "append_to_ballot" object.slug %}">
                        <i class="fa fa-plus"></i>
                        <span>Add this candidate to ballot</span>
                    </a>
                </div>
                <div class="d-md-none">
                    <a class="btn btn-red btn-bold fa-button btn-block" href="{% url "my_ranking" %}">
                        <i class="fa fa-list-ol"></i>
                        <span>View my ballot</span>
                    </a>
                    <a class="{% if object.hide or not object.is_running or object in my_candidates %}disabled{% endif %} btn btn-dark btn-bold fa-button btn-block" href="{% url "append_to_ballot" object.slug %}">
                        <i class="fa fa-plus"></i>
                        <span>Add candidate to your ballot</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
