{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
<meta name="twitter:card" content="summary">
<meta name="twitter:domain" value="cambridgecouncilcandidates.com" />
<meta name="twitter:title" value="{{ title }}" />
<meta name="twitter:description" value="{{ description }}" />
<meta name="twitter:image" content="{% static "council_chamber.png" %}"/>
<meta name="twitter:label1" value="Candidates Filed So Far" />
<meta name="twitter:data1" value="{{ num_runners }}" />
{% endblock %}

{% block content %} 
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Vote Local!</h1>
        <p>If you want more information before you cast your 2017 ballot for Cambridge City Council, you've come to the right place. We're compiling everything we can find - from op-eds to campaign finance records. Determine who deserves your #1 vote - or your #{{ num_runners }}!</p>
        <p>
        <a class="btn btn-lg btn-primary" href="{% url 'all' %}" role="button">Explore Candidates &raquo;</a>
        </p>
    </div>
{% endblock %}
