{% extends 'base.html' %}

{% block content %} 
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Local Elections!</h1>
        <p>If you want more information before you cast your 2017 ballot for Cambridge City Council, you've come to the right place. We're compiling everything we could find - from op-eds to campaign finance records. Determine who deserves your #1 vote - or your #19!</p>
        <p>
        <a class="btn btn-lg btn-primary" href="{% url 'all' %}" role="button">Explore Candidates &raquo;</a>
        </p>
    </div>

    <div class="section">
        <p> (possibly some subheaders about the various website sections here)
    </div>
{% endblock %}