{% extends 'base.html' %}
{% load fullurl %}
{% load static %}
{% load i18n %}

{% block title %}Cambridge Council Election 2021{% endblock %}

{% block body_id %}welcome{% endblock %}

{% block head_extra %}
<meta name="google-site-verification" content="QocdPunJuyzDI6Z00Uw3WHcL5xrcxPVf78_o7f05YvQ" />
<meta name="twitter:card" content="summary">
<meta name="twitter:domain" value="cambridgecouncilcandidates.com" />
<meta name="twitter:title" value="{{ title }}" />
<meta name="twitter:description" value="{{ description }}" />
<meta name="twitter:image" content="{% fullstatic "candidate_grid.png" %}"/>
<meta name="twitter:label1" value="Candidates Filed So Far" />
<meta name="twitter:data1" value="{{ num_runners }}" />

<meta name="og:title" value="{{ title }}" />
<script>
    // data for candidate_map.js
    var initialLocations = {{ candidate_locations|safe }};
</script>
<script>{% include "overview/candidate_map.js" %}</script>
<script defer src="//maps.googleapis.com/maps/api/js?&callback=initMap&key={{ GOOGLE_EMBED_API_KEY }}"></script>
{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <main class="container-fluid bg-primary">
        <div class="row justify-content-center" id="main">
            <div class="jumbotron bg-transparent text-center text-light font-weight-bold col-lg-8 col-xs-6">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="splash_header">{% blocktrans %}Vote Local!{% endblocktrans %}</h1>
                            {% trans num_runners noop as num_runners %}
                            <p>{% blocktrans with year=2021 %}We're compiling everything we can find about the {{ year }} Cambridge City Council candidates&mdash;from op-eds to campaign finance records&mdash;to help you determine who deserves your #1, #2, or #9 vote on November 2nd, 2021. You've got {{ num_runners }} options!{% endblocktrans %}</p>


                            <div class="col" style="text-align: center">
                                <a class="btn btn-secondary" href="{% url 'all' %}" role="button">{% blocktrans %}Explore Candidates{% endblocktrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div>
        <section class="container-fluid bg-light p-5">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="header">{% blocktrans %}Where the Candidates Are{% endblocktrans %}</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div id="map" class="map-container">
                        <div class="map-alert">
                            <div class="alert alert-warning"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <div>

    <div class="bg-gray">
        <section class="container-fluid p-5">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="header">{% blocktrans %}Build Your Ballot{% endblocktrans %}</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h4>{% blocktrans %}Compare{% endblocktrans %}</h4>
                    <p>
                        We let you rank the candidates, just like you'll do in the voting booth. You can even share your choices - if you want to.
                    </p>
                    <p>
                        <a class="btn btn-info" href="{% url 'my_ranking' %}" role="button">See my candidates &raquo;</a>
                    </p>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h4>{% blocktrans %}Vote{% endblocktrans %}</h4>
                    <p>{% blocktrans %}Cambridge has a ranked choice system, which might be different than what you're used to. We've made an illustration of how it works as well as collected other explanations.{% endblocktrans %}</p>
                    <p>
                        <a class="btn btn-info" href="{% url 'how_to_vote' %}" role="button">{% blocktrans %}Learn More{% endblocktrans %} &raquo;</a>
                        <a class="btn btn-info" target="_blank" rel="noopener" href="https://www.sec.state.ma.us/ovr/" role="button">{% blocktrans %}Register to vote{% endblocktrans %} &raquo;</a>
                    </p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h4>{% blocktrans %}Explore{% endblocktrans %}</h4>
                    <p>{% blocktrans %}Tools to see the whole field.{% endblocktrans %}</p>
                    <p>
                        <a class="btn btn-info" href="{% url 'full_history' %}" role="button">{% blocktrans %}Votes{% endblocktrans %} &raquo;</a>
                        <a class="btn btn-info" href="{% url 'finance_comparison' %}" role="button">{% blocktrans %}Finance{% endblocktrans %} &raquo;</a>
                    </p>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
