{% extends "base.html" %}
{% load static %}

{% block head_extra %}
{# duplicated below #}
{{ block.super }}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script defer type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script defer src="https://cdn.jsdelivr.net/mark.js/8.6.0/jquery.mark.min.js"></script>
<script defer src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.js"></script>

<style>
#myTable_filter { display: none; }

#myTable { table-layout: fixed; }

/* try to make it more obvious that it is clickable */
#myTable tr[role=row] {
    cursor: pointer;
}

#myTable tr[role=row]:hover {
    text-decoration: underline;
}

tr td:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


</style>
{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">What matters to you?</div>
    <div class="panel-body">
        <div class="col-md-6">
            <form>
                <input type="search" id="voteSearch" class="form-control" placeholder="Bikes...?">
            </form>
        </div>
        <div class="col-md-6">
            <p>
            Search recent City Council votes to see where your councilors stand
            on your issues.
            </p>

            <p>
                Data gathered from 
                <a href="http://cambridgema.iqm2.com/" target="_blank">Camrbridge Open Meetings Portal</a>
            </p>
        </div>
    </div>
</div>


<table id="myTable" class="display" cellspacing="0" width="100%">
    <colgroup>
        <col width="30%" style="overflow: hidden"></col>
    </colgroup>
    <thead>
        <tr>
            <th>Description</th>
            <th>Item Description</th>
            <th>Devereux</th>
            <th>Carlone</th>
            <th>Mazen</th>
            <th>Simmons</th>
            <th>Toomey</th>
            <th>Kelley</th>
            <th>Cheung</th>
            <th>McGovern</th>
            <th>Maher</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Description</th>
            <th>Item Description</th>
            <th>Devereux</th>
            <th>Carlone</th>
            <th>Mazen</th>
            <th>Simmons</th>
            <th>Toomey</th>
            <th>Kelley</th>
            <th>Cheung</th>
            <th>McGovern</th>
            <th>Maher</th>
        </tr>
    </tfoot>
</table>
{% endblock %}


{% block endscripts %}
<script>
    function abbreviateNumber(value) {
        // https://stackoverflow.com/a/10601315
        var newValue = Number(value.replace(/[$,]/g, ''));
        if (value[0] == '$' && newValue >= 1000) {
            var suffixes = ["", "k", "m", "b","t"];
            var suffixNum = Math.floor( (""+newValue).length/3 );
            var shortValue = '';
            for (var precision = 2; precision >= 1; precision--) {
                shortValue = parseFloat( (suffixNum != 0 ? (newValue / Math.pow(1000,suffixNum) ) : newValue).toPrecision(precision));
                var dotLessShortValue = (shortValue + '').replace(/[^a-zA-Z 0-9]+/g,'');
                if (dotLessShortValue.length <= 2) { break; }
            }
            if (shortValue % 1 != 0) {
                shortNum = shortValue.toFixed(1);
            }
            return '$' + shortValue+suffixes[suffixNum];
        } else {
            return value;
        }
    }

    function format ( d ) {
        return d.item_description;
    }

    function short_description ( d ) {
        let short_description = d.item_description;
        short_description = short_description.slice(0, 200).split(' ').map(abbreviateNumber).join(' ');
        short_description = short_description.slice(0, 100);
        return `<a target="_blank" href="http://cambridgema.iqm2.com/Citizens/Detail_LegiFile.aspx?MeetingID=${d.meeting_id}&ID=${d.item_id}">${short_description}</a>`
    }
     
    var dt;
    $(document).ready(function() {
        dt = $('#myTable').DataTable( {
            mark: true,
            // "processing": true,
            // "serverSide": true,
            ajax: "{% static  "voting_record.json" %}",
            searching: true,
            lengthChange: false,
            columns: [
                { orderable: false, data: short_description,  },
                { orderable: false, data: "item_description", visible: false },
                { searchable: false, data: "Jan Devereux" },
                { searchable: false, data: "Dennis J Carlone" },
                { searchable: false, data: "Nadeem A Mazen" },
                { searchable: false, data: "E Denise Simmons" },
                { searchable: false, data: "Timothy J Toomey" },
                { searchable: false, data: "Craig A Kelley" },
                { searchable: false, data: "Leland Cheung" },
                { searchable: false, data: "Marc C McGovern" },
                { searchable: false, data: "David P Maher" }
            ],
        } );
     
        // Array to track the ids of the details displayed rows
        var detailRows = [];
     
        $('#myTable tbody').on( 'click', 'tr[role=row]', function () {
            var tr = $(this);
            var row = dt.row( tr );
            var idx = $.inArray( tr.attr('id'), detailRows );
     
            if ( row.child.isShown() ) {
                tr.removeClass( 'details' );
                row.child.hide();
     
                // Remove from the 'open' array
                detailRows.splice( idx, 1 );
            }
            else {
                tr.addClass( 'details' );
                row.child( format( row.data() ) ).show();
     
                // Add to the 'open' array
                if ( idx === -1 ) {
                    detailRows.push( tr.attr('id') );
                }
            }
        } );
     
        // On each draw, loop over the `detailRows` array and show any child rows
        dt.on( 'draw', function () {
            $.each( detailRows, function ( i, id ) {
                $('#'+id+' td.details-control').trigger( 'click' );
            } );
        } );

        $("#voteSearch").on("input", function() {
            let val = $(this).val().replace(/[s,.\s]+$/, "");
            dt.columns(1).search(val).draw();
            if (val.length > 3) {
                dt.rows({ filtered: "applied" }).every(function() {
                    this.child(format(this.data())).show();
                });
            }
        });
    } );
</script>
{% endblock %}
