{% extends "base.html" %}
{% load static %}

{% block head_extra %}
{# duplicated below #}
{{ block.super }}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<table id="myTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Short Description</th>
            <th>Item Description</th>
            <th>Devereux</th>
            <th>Carlone</th>
            <th>Mazen</th>
            <th>Simmons</th>
            <th>Toomey</th>
            <th>Kelley</th>
            <th>Cheung</th>
            <th>McGovern</th>
            <th>Maher</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Short Description</th>
            <th>Item Description</th>
            <th>Devereux</th>
            <th>Carlone</th>
            <th>Mazen</th>
            <th>Simmons</th>
            <th>Toomey</th>
            <th>Kelley</th>
            <th>Cheung</th>
            <th>McGovern</th>
            <th>Maher</th>
        </tr>
    </tfoot>
</table>
{% endblock %}
