dj-database-url
Django
gunicorn
psycopg2==2.9.7
whitenoise
requests
Pillow
django-fullurl
markdown
factory_boy
django-crispy-forms
crispy-bootstrap4
django-registration
django_heroku
pyyaml  # support fixture file
