# after updating, run `docker compose build web` to install dependencies

dj-database-url
Django
bs4
gunicorn
psycopg2-binary==2.9.10
whitenoise
requests
Pillow
django-fullurl
markdown
factory_boy
django-crispy-forms
crispy-bootstrap4
django-registration
pyyaml  # support fixture file