{% extends "base.html" %}
{% load static %}

{% block title %}Councilmember Voting History{% endblock %}

{% block meta_description %}
Search through recent City Council votes.
See where current councillors stand on your issues.
{% endblock %}

{% block head_extra %}
<meta property="og:title" content="Councilmember Voting History" />
{# also included in panel #}
<meta property="og:description" content="Search through recent City Council votes. See where current councillors stand on your issues." />


{# duplicated below #}
{{ block.super }}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script defer type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script defer src="https://cdn.jsdelivr.net/mark.js/8.6.0/jquery.mark.min.js"></script>
<script defer src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.js"></script>
{# <script defer src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script> need to remove dataTables.min.css for this to look decent #}
<link "https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">

<script defer src="{% static "voter_history.js" %}"></script>
<style>
#myTable_filter { display: none; }

#myTable { table-layout: fixed; }

/* [role=row] ensures we're not looking at the detail expansions
/* try to make it more obvious that it is clickable */
#myTable tr[role=row] {
    cursor: pointer;
}

.YEAS { color: blue; }
.NAYS { color: red; }
.ABSENT { color: #CCC; }
.PRESENT { color: black }


/* make the short truncate */
tr[role=row] td:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="card my-4">
        <div class="card-header">
            What matters to you?
        </div>
        <div class="card-body">
            <h6 class="card-subtitle">{# also included in og:description #}
                Search through recent City Council votes.
                See where current councillors stand on your issues.
                Click on a row to view or hide ordinance details.
            </h6>

            <fieldset class="py-2">
                <input type="search" id="voteSearch" name="search" class="form-control" placeholder="Bikes...?">

                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="vote-split" id="vote-split-all" value="all" checked>
                        <label class="form-check-label" for="vote-split-all">All</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="vote-split" id="vote-split-contested" value="contested">
                        <label class="form-check-label" for="vote-split-contested">Contested</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="vote-split" id="vote-split-unanimous" value="unanimous">
                        <label class="form-check-label" for="vote-split-unanimous">Unanimous</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="card-footer">
            <span class="data_highlight">Data</span> gathered from
            the
            <a href="http://cambridgema.iqm2.com/" target="_blank" rel="noopener">
                Cambridge Open Meetings Portal
            </a>
            <a title="Download our data" data-placement="bottom" data-toggle="tooltip" href="{% static "voting_record.prepared.json " %}" download target="_black">(last scraped 2023-11-01)</a>
        </div>
    </div>


    <table id="myTable" class="table table-condensed table-striped" cellspacing="0" width="100%">
    </table>
</div>
{% endblock %}


{% block endscripts %}
<script>
    $(document).ready(function() {
        voter_history.createTable("{% static "voting_record.prepared.json" %}");
    });
</script>
{% endblock %}
