{% extends "base.html" %}
{% load static %}

{% block title %}Councilmember Voting History{% endblock %}

{% block meta_description %}
Search through recent City Council votes.
See where current councillors stand on your issues.
{% endblock %}

{% block head_extra %}
<meta property="og:title" content="Councilmember Voting History" />
{# also included in panel #}
<meta property="og:description" content="Search through recent City Council votes. See where current councillors stand on your issues." />


{# duplicated below #}
{{ block.super }}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script defer type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script defer src="https://cdn.jsdelivr.net/mark.js/8.6.0/jquery.mark.min.js"></script>
<script defer src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.js"></script>
{# <script defer src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script> need to remove dataTables.min.css for this to look decent #}
<link "https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">

<style>
#myTable_filter { display: none; }

#myTable { table-layout: fixed; }

/* [role=row] ensures we're not looking at the detail expansions
/* try to make it more obvious that it is clickable */
#myTable tr[role=row] {
    cursor: pointer;
}

.Yeas { color: blue; }
.Nays { color: red; }
.Absent { color: #CCC; }
.Present { color: black }


/* make the short truncate */
tr[role=row] td:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
{% endblock %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        What matters to you?
    </div>
    <div class="panel-body">
        <div class="col-md-4">
            <span>{# also included in og:description #}
            Search through recent City Council votes.
            See where current councillors stand on your issues.
            </span>
        </div>
        <div class="col-md-8">
            <input type="search" id="voteSearch" name="search" class="form-control" placeholder="Bikes...?">
        </div>
    </div>

    <div class="panel-footer">
        <cite class="text-muted">
            <details>
                <summary>
                    Data gathered from
                    <a href="http://cambridgema.iqm2.com/" target="_blank">
                        Cambridge Open Meetings Portal
                    </a>

                    <small class="pull-right">
                        Last scraped on <time>2017-06-07</time>
                        <a class="fa fa-download" title="Download our data" data-placement="bottom" data-toggle="tooltip" href="{% static "voting_record.csv" %}" download target="_black"></a>
                    </small>
                </summary>

                Data aggregated from
                <a target="_blank" href="http://cambridgema.iqm2.com/Citizens/Detail_BoardMember.aspx?ID=1020">
                    individual candidate voting histories
                </a> for all active City Councillors.

                <br/>
        </cite>
    </div>
</div>


<table id="myTable" class="table table-condensed table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Item Id</th>
            <th>Item Description</th>
            <th>Item Body</th>
            <th>Date</th>
            <th>Description</th>
            <th>Devereux</th>
            <th>Carlone</th>
            <th>Mazen</th>
            <th>Simmons</th>
            <th>Toomey</th>
            <th>Kelley</th>
            <th>Cheung</th>
            <th>McGovern</th>
            <th>Maher</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Item Id</th>
            <th>Item Description</th>
            <th>Item Body</th>
            <th>Date</th>
            <th>Description</th>
            <th>Devereux</th>
            <th>Carlone</th>
            <th>Mazen</th>
            <th>Simmons</th>
            <th>Toomey</th>
            <th>Kelley</th>
            <th>Cheung</th>
            <th>McGovern</th>
            <th>Maher</th>
        </tr>
    </tfoot>
</table>
{% endblock %}


{% block endscripts %}
<script>
    function truncateDollars(string) {
        /* find money-like tokens in description text and truncates them
           truncateDollars("$123,456,789") -> "$0.1b"
           truncateDollars("anything else") -> "anything else"
           credit to https://stackoverflow.com/a/10601315
        */
        var newValue = Number(string.replace(/[$,]/g, ''));
        if (string[0] == '$' && newValue >= 1000) {
            var suffixes = ["", "k", "m", "b","t"];
            var suffixNum = Math.floor( (""+newValue).length/3 );
            var shortValue = '';
            for (var precision = 2; precision >= 1; precision--) {
                shortValue = parseFloat( (suffixNum != 0 ? (newValue / Math.pow(1000,suffixNum) ) : newValue).toPrecision(precision));
                var dotLessShortValue = (shortValue + '').replace(/[^a-zA-Z 0-9]+/g,'');
                if (dotLessShortValue.length <= 2) { break; }
            }
            if (shortValue % 1 != 0) {
                shortNum = shortValue.toFixed(1);
            }
            return '$' + shortValue+suffixes[suffixNum];
        } else {
            return string;
        }
    }

    function childText( d ) {
        /* text (can be html) for foldout row when main row is clicked */
        return d.item_description;
    }

    function makeShorterDescription ( d ) {
        /* item preview text */
        let short_description = d.short_description;
        short_description = short_description.slice(0, 200).split(' ').map(truncateDollars).join(' ');
        short_description = short_description.slice(0, 100);
        short_description = short_description || "<i>missing</i>"
        return `<a target="_blank" href="http://cambridgema.iqm2.com/Citizens/Detail_LegiFile.aspx?MeetingID=${d.meeting_id}&ID=${d.item_id}">${short_description}</a>`
    }

    function make_search_field( d ) {
        // including makeShorterDescription so we can search on truncated $40k
        return makeShorterDescription(d) + " " + d.item_description + " " + d.item_body;
    }

    function vote( data, type, row ) {
        return `<span class=${data.replace(" ", "_")}>${data.replace(/s$/, "")}</span>`;
    }

    function searchValue() {
        return $("#voteSearch").val().split(/\s+/).map($.trim);
    }

    $(document).ready(function() {
        var dt = $('#myTable').DataTable( {
            mark: true,
            ajax: "{% static  "voting_record.json" %}",
            searching: true,
            lengthChange: false,
            order: [[ 0, "desc" ]],
            columns: [
                { data: "item_id", visible: false },
                { orderable: false, data: "item_description", visible: false },
                { orderable: false, data: make_search_field, visible: false },
                { width: "10ch", orderable: true, data: "date", visible: true },
                { orderable: false, data: makeShorterDescription,  },
                { render:vote, searchable: false, data: "Jan Devereux" },
                { render:vote, searchable: false, data: "Dennis J Carlone" },
                { render:vote, searchable: false, data: "Nadeem A Mazen" },
                { render:vote, searchable: false, data: "E Denise Simmons" },
                { render:vote, searchable: false, data: "Timothy J Toomey" },
                { render:vote, searchable: false, data: "Craig A Kelley" },
                { render:vote, searchable: false, data: "Leland Cheung" },
                { render:vote, searchable: false, data: "Marc C McGovern" },
                { render:vote, searchable: false, data: "David P Maher" }
            ],
        } );

        $('#myTable tbody').on( 'click', 'tr[role=row]', function () {
            /* toggle child row visibility */
            var tr = $(this);
            var row = dt.row( tr );

            if ( row.child.isShown() ) {
                tr.removeClass( 'details' );
                row.child.hide();
            }
            else {
                tr.addClass( 'details' );
                row.child( childText( row.data() ) ).show();
                row.child().mark(searchValue());
            }
        } );

        /* table-responsive must wrap the table, but data-tables adds a div
           before and after the table, so we have to do this after DataTables is
           applied so the table controls don't also scroll */
        $("#myTable").wrap("<div class='table-responsive'></div>");

        $("#voteSearch").on("input", function() {
            /* search the full item body for the key. fold out descriptions if */
            let val = $.trim( $(this).val() );
            // Currently only searching body because [1,2] is 1 && 2, not 1 ||
            // 2. Could concat the fields if this isn't good enough.

            dt.columns(2).search(val).draw();
            dt.rows({ filter: "applied" }).every(function() {
                if (val.length > 3) {  // if they've typed this much, fold results out
                    this.child(childText(this.data())).show();
                }

                if (this.child()) { // if folded out
                    if (val.length == 0) {
                        // otherwise we leave the last mark() around
                        this.child().unmark();
                    } else {
                        // had some trouble going from $ to $4 without unmarking, but other searches seem to have worked
                        this.child().unmark();
                        this.child().mark(searchValue());
                    }
                }
            });
        });
        $("[data-toggle=tooltip]").tooltip();
    } );
</script>
{% endblock %}
