{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12">

            {% if form.errors %}
              <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>You are already logged in!.</p>
                {% else %}
                    <p>Please login.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </div>
            <div>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </div>

            <div>
              <input type="submit" value="login" class="btn"/>
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

        </div>
    </div>

</div>
{% endblock %}