{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head_extra %}
    {{ block.super }}
    <style>

    .alert > ul {
        /* undo bullet points in alert */
        list-style: none;
        padding: 0px;
    }
    </style>
{% endblock %}


{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div style="max-width: 330px; margin:auto">

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>You are already logged in!.</p>
                    {% endif %}
                {% endif %}

                <form class="well" method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

                    <div style="margin-top: 30px; text-align:center">
                        <input type="submit" value="Login" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
