{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head_extra %}
    {{ block.super }}
    <style>

    .alert > ul {
        /* undo bullet points in alert */
        list-style: none;
        padding: 0px;
    }
    </style>
{% endblock %}


{% block content %}

<div class="container-fluid py-5 bg-light">

    <div class="row">
        <div class="col-md-12">
            <div style="max-width: 330px; margin:auto">

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>You are already logged in!.</p>
                    {% endif %}
                {% endif %}

                <form class="well" method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <div class="text-center mt-2">
                        <input type="submit" value="Login" class="btn btn-primary"/>
                    </div>

                    <p class="py-2 text-center">
                        <a href="{% url 'password_reset' %}">Lost password?</a>
                    </p>

                </form>

            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12 text-center" style="max-width: 330px; margin:auto">
            <p>Not a user? Register to save your ballot and take notes: </p>
            <a class="btn btn-info" href="{% url 'django_registration_register' %}" role="button">Sign Up</a>
        </div>
    </div>

</div>
{% endblock %}
