{% extends "base.html" %}
{% load fullurl %}
{% load static %}

{% block title %}What funds are candidates raising?{% endblock %}
{% block meta_description %}See how much money candidates are raising - and how much they are spending.{% endblock %}

{% block head_extra %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="What funds are candidates raising?" />
<meta name="twitter:description" content="See how much money candidates are raising - and how much they are spending." />
<meta name="twitter:image" content="{% fullstatic "campaign_finance/money-2019-10-22.png" %}"/>

<meta property="og:image" content="{% fullstatic "campaign_finance/money-2019-10-22.png" %}"/>
{% endblock %}

{% block content %}
<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading">
        What funds are candidates raising?
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <span>{# also included in og:description #}
            See how much money candidates are raising - and how much they are spending.
            </span>
        </div>

        <!-- candidate drop down here? -->

    </div>

    <div class="panel-footer">
        <cite class="text-muted">
            <span class="data_highlight">Data</span> gathered from the
            <a href="http://www.ocpf.us" target="_blank">
                Office of Campaign and Political Finance
            </a>
        </cite>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h4>Balance</h4>
    </div>
    <p>
        2023 graph coming soon
    </p>
<!--     <div class="col-md-12">
        <picture class="finance_bubble_graph">
            <img
                class="img"
                style="max-width: 100%"
                src="{% static 'campaign_finance/money-2019-10-22.svg' %}"
                alt="visual representation of campaign finance raise and spend">
        </picture>
    </div> -->
</div>

</div>
{% endblock %}
