{% extends "base.html" %}
{% load fullurl %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_id %}all_candidates{% endblock %}

{% block content %}
<div class="bg-light p-5">
    <div class="container">
        <div class="row">
            {% if mine and object.public %}
            <div class="col-md-12 mb-3">
                <div class="alert alert-warning">
                    Your ballot is publically viewable. You can share it by linking to
                    <a class="alert-link ellipsed" href="{% url "list_explore" object.slug %}">{% fullurl "list_explore" object.slug %}</a>
                </div>
            </div>
            {% endif %}

            <div class="col-md-12">
                <h1>
                    {{ object.name }}

                    {% if mine %}
                        <button data-toggle="collapse" class="ml-2 d-sm-block float-md-right btn" data-target="#name_form">Edit</button>
                    {% endif %}

                    {% if mine %}
                    <form class="form-inline d-sm-block float-md-right ml-md-2" action="{% url "make_public" %}" method="post">
                        {% csrf_token %}

                        {{ visibility_form.public.as_hidden }}

                        {% if visibility_form.public.value %}
                            <button class="w-100 btn btn-outline-danger">Make Public</button>
                        {% else %}
                            <button class="w-100 btn btn-outline-info">Make Private</button>
                        {% endif %}
                    </form>

                    <form class="form-inline d-sm-block float-md-right" action="{% url "make_ordered" %}" method="post">
                        {% csrf_token %}
                        {{ ordering_form.ordered.as_hidden }}

                        {% if ordering_form.ordered.value %}
                            <button class="w-100 btn btn-outline-info">Display Ordered</button>
                        {% else %}
                            <button class="w-100 btn btn-outline-info">Display Unordered</button>
                        {% endif %}
                    </form>
                    {% endif %}
                </h1>

                {% if mine %}
                    <form id="name_form" class="collapse" action="{% url "rename_ballot" %}" method="POST">
                        {% crispy name_form %}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container pt-3">
        <div class="row">
            <div class="col-md-12">
                <div id="ranked_list" class="list-group">
                    {# help #}
                    {% for annotation in annotations %}
                    <candidate class="list-group-item" data-slug="{{ annotation.candidate.slug }}">
                        <span aria-hidden="true"></span>
                        <div>
                            {% if mine %}
                                <i class="fas fa-bars"></i>
                            {% endif %}
                            {% if object.ordered %}<span class="counter"></span>{% endif %}
                            <a href="{% url "candidate_detail" annotation.candidate.slug %}">
                                {{ annotation.candidate.fullname}}
                            </a>

                            {% if mine %}
                            <a class="float-right toggle-comment-form" href="#">{% if annotation.comment %}edit notes{% else %}add notes{% endif %}</a>
                            {% endif %}
                        </div>

                        <div class="d-block stored_comment">
                            {{ annotation.comment|linebreaks }}
                        </div>

                        {% if mine %}
                        <form class="d-none update_note" action="{% url "update_note" annotation.candidate.slug %}" method="POST">
                            {% crispy annotation.comment_form %}
                        </form>
                        {% endif %}

                    </candidate>
                    {% endfor %}

                    {% if annotations %}
                        <a download href="{% url "list_explore_download" object.slug %}" class="m-2">Download this slate</a>
                    {% endif %}
                </div>
                <div>
                    {% if mine and not annotations %}
                        <p>
                            You haven't picked any candidates yet! You can add them to your slate on their individual pages.
                        </p>

                        <div style="display: block" class="text-center">
                            <a class="btn btn-secondary" href="{% url 'all' %}" role="button">Explore Candidates</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block endscripts %}
    {% if mine %}
    <script src="{% static "drag_list.js" %}" charset="utf-8"></script>
    {% endif %}
{% endblock %}
