{% extends "base.html" %}

{% block content %}

<div class="container">

    {% if not object.public %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                This list is not currently public and only be viewed by <em>you</em>.
                <a href="mailto:admin@cambridge.vote">Email us</a> if you'd like to make it public.
            </div>
        </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="col-md-12">
            <h1>{{ object.name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <dl>
                {% for element in object.annotated_candidates.all %}
                <dt>
                    {{ forloop.counter }}.
                    <a href="{% url "candidate_detail" element.candidate.slug %}">
                        {{ element.candidate.fullname}}
                    </a>
                </dt>
                <dd>
                    {{ element.comment|linebreaks }}
                </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
</div>

{% endblock %}
