{% extends "base.html" %}

{% block head_extra %}
<style type="text/css" media="screen">
    #management form { 
        display: inline; 
        margin-right: 20px;
    }

    dt {
        font-size: large;
        margin-top: 20px;
    }
</style>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ object.name|title }} <a download href="{% url "list_explore_download" object.slug %}" class="fa fa-download"></a></h1>
        </div>

        {% if mine %}
        <div class="col-md-12" id="management">
            <form action="{% url "make_public" %}" method="post">
                {% csrf_token %}

                {{ public_form.public.as_hidden }}

                {{ object.public|yesno:"Public,Private" }}:
                {% if public_form.public.value %}
                    <button class="btn btn-default btn-sm">Make Publically Visible</button>
                {% else %}
                    <button class="btn btn-default btn-sm">Make Private</button>
                {% endif %}
            </form>

            <form action="{% url "make_ordered" %}" method="post">
                {% csrf_token %}
                {{ ordered_form.ordered.as_hidden }}

                {{ object.ordered|yesno:"Ordered,Unordered" }}:
                {% if ordered_form.ordered.value %}
                    <button class="btn btn-default btn-sm">Display as Ordered</button>
                {% else %}
                    <button class="btn btn-default btn-sm">Display as Unordered</button>
                {% endif %}
            </form>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <dl>
                {% for element in object.annotated_candidates.all %}
                <dt>
                    {% if object.ordered %}{{ forloop.counter }}.{% endif %}
                    <a href="{% url "candidate_detail" element.candidate.slug %}">
                        {{ element.candidate.fullname}}
                    </a>
                </dt>
                <dd>
                    {{ element.comment|linebreaks }}
                </dd>
                {% endfor %}
            </dl>
        </div>
    </div>
</div>

{% endblock %}
