/* navbar */
body {
  padding-top: 70px;
}

@media (max-width: 375px) {
    .header-text {
        font-size: 14px;
    }
}

/* candidate page */
.candidate_card {
    background-color: gainsboro;
}

.candidate_name {
    text-align: center;
}

/* tweaking the footer */
.page_footer {
    padding-bottom: 30px;
}
.about_us {
    float:right;
}
.about_us_link {
    color: #0057b8;
}
