/* navbar */
body {
  padding-top: 70px;
}

@media (max-width: 375px) {
    .header-text {
        font-size: 14px;
    }
}

/* tweaks */
.splash_header {
    text-align: center;
}

/* used in candidate dropdown in header */
.not_running {
    text-decoration: line-through;
}

summary {
    cursor: pointer;  /* it's clickable... make it look clickable */
}

/* candidate page */
.candidate_card {
    /* background currently white. I'd rather have the background be slightly
     * darker but would have to restyle everything */
    background-color: #FEFEFE;
    max-width: 300px;  /* looks silly otherwise */
}

.candidate_card {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}


.candidate_card:active {
    -moz-box-shadow:    inset 0 0 10px rgba(0,47,144,0.5);
    -webkit-box-shadow: inset 0 0 10px rgba(0,47,144,0.5);
    box-shadow:         inset 0 0 10px rgba(0,47,144,0.5);
}

.candidate_name {
    text-align: center;
}

.candidate_header {
    font-size: inherit;
    font-weight: inherit;
    display: inline;
}

.candidate_card .candidate_website {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

/* tweaking the footer */
.page_footer {
    padding-bottom: 30px;
}
.about_us {
    float:right;
}
.about_us_link {
    color: #0057b8;
}

/* PALLETE */
.text-blue {
    color: #002F90; 
}
.text-lightblue {
    color: #0057b8; 
}
.text-darkred {
    color: #a80000; 
}
.text-red {
    color: #e4002b; 
}

.bg-blue {
    background-color: #002F90; 
    color: white;
}
.bg-lightblue {
    background-color: #0057b8; 
    color: white;
}
.bg-darkred {
    background-color: #a80000; 
    color: white;
}
.bg-red {
    background-color: #e4002b; 
    color: white;
}

a.headshot {
    display: block;
    padding-top: 2em;
    text-align: center;
}

/* $$$ panels */
.panel-money {
    text-align: center;
}
.panel-heading-money {
    background-color: #002F90;
}
.money-amount {
    margin-top: 10px;
    color: white;
}

@media (min-width: 375px) {
    #candidate_list {
        max-height: 60vh;
        overflow-y: scroll;
    }
}

/* supressing the "active" state of the voting history drop down thing */
.data_gathered_from:focus {
    outline: none;
}
.data_gathered_from:focus .data_highlight {
    color: blue;
}


/* Sorting Sidebar */
.sortable tr {
    margin: 5px;
    padding: 15px;
}

.sortable td.sorter {
    cursor: move;
}

.sortable tr.fade {
    background-color: #ddd;  /* not working */
}

.selected {
    border: thin solid black;
    background: lightyellow;
}

#grippy {
    /* above navbar or looks weird with border color but below sidebar when revealed */
    z-index: 1048; 

    position:fixed; 
    right: 0px; 
    top: 0px; 
    height:100vh; 
    width: 15px; 
    background: #d9edf7;
    border-left: thin solid #bce8f1;
    transition: all .2s ease-in-out;
    box-shadow: -2px 0px 5px #dedede;
}

#grippy:hover {
    transform: scaleX(2);
}
