{% extends "base.html" %}
{% load i18n %}


{% block head_extra %}
<style>
.prezi {
    width: 100%;
}
</style>
{% endblock %}


{% block content %}
<div class="bg-light">
    <main class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{% blocktrans %}About Voting{% endblocktrans %}</h1>

                <p>{% blocktrans %}Cambridge has a ranked choice system, which might be different than what you&rsquo;re used to.
                Essentially, you'll be given a ballot with a list of the candidates, and you will fill in a bubble for the rank you want to give them.{% endblocktrans %}
                </p>

				<p>
					{% blocktrans with election_year=ELECTION_DATE.year %}For {{ election_year }}, Cambridge has prepared voter guides in many of the most commonly spoken languages in the area.{% endblocktrans %}
					<a href="https://www.cambridgema.gov/departments/electioncommission/cambridgemunicipalelections" rel="noopener" target="_blank">View offical voter guides.</a>
				</p>
            </div>
        </div>
    </main>
</div>
{% endblock %}
