{% extends "base.html" %}

{% block content %}
<section>
    <div class="row">
        <div class="col-md-12">
            <h2 id="about_us">About the Team</h2>
            <p>We are a small group of Cambridge residents committed to learning more about local politics and sharing our knowledge with other Cambridge residents. This site and <a href=""></a>cambridgecouncilcandidates.com were both born out of discussions with many area friends, most of whom were trying to get more engaged after the 2016 election.</p>

            <p>We welcome your comments and ideas - but most of all, we hope you vote in 2017, 2018, 2019, and beyond!</p>
        </div>

        <div class="col-md-12">
            <h5>Contact & Follow</h5>
            <p> 
                <span class="fa fa-envelope fa-fw" aria-hidden="true"></span> <a href="mailto:admin@cambridge.vote">admin@cambridge.vote</a>
                <br>
                <span class="fa fa-facebook fa-fw" aria-hidden="true"></span> <a href="https://www.facebook.com/cambridge.vote/">cambridge.vote</a>
                <br>
                <span class="fa fa-twitter fa-fw" aria-hidden="true"></span> <a href="https://twitter.com/cambridge_vote">@cambridge_vote</a>
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <h5>Team Members</h5>
        </div>

        <div class="col-md-4 col-lg-3">
            <h4>Kelsey Harris</h4>
        </div>

        <div class="col-md-4 col-lg-3">
            <h4>Alex Riina</h4>
        </div>

        <div class="col-md-4 col-lg-3">
            <h4>Janelle Myers</h4>
        </div>

        <div class="col-md-4 col-lg-3">
            <h4>Lisan Mo</h4>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h5> Thank you!</h5>

            <p>The list of people we wish to thank is very long, and some prefer to remain off of the public internet. Suffice to say: thank you to everyone from life-long friends and total strangers who commented and encouraged. This site would not be the same without you!</p>
        </div>
    </div>
</section>
{% endblock %}
