{% extends "base.html" %}


{% block title %}About the Team{% endblock %}
{% block meta_description %}We are a small group of Cambridge residents committed to learning more about local politics and sharing our knowledge with other Cambridge residents.{% endblock %}



{% block content %}
<div class="container">
<section>
    <div class="row">
        <div class="col-md-12">
            <h1 id="about_us">About the Team</h1>
            <p>We are a small group of Cambridge residents committed to learning more about local politics and sharing our knowledge with other Cambridge residents. This site and <a href="www.cambridge.vote">cambridge.vote</a> were both born out of discussions with many area friends, most of whom were trying to get more engaged after the 2016 election.</p>

            <p>We welcome your comments and ideas - but most of all, we hope you vote in 2017, 2018, 2019, and beyond!</p>
        </div>

        <div class="col-md-12">
            <h5>Contact & Follow</h5>
            <p> 
                <span class="fa fa-envelope fa-fw" aria-hidden="true"></span> <a href="mailto:admin@cambridge.vote">admin@cambridge.vote</a>
                <br>
                <span class="fab fa-facebook fa-fw" aria-hidden="true"></span> <a href="https://www.facebook.com/cambridge.vote/">cambridge.vote</a>
                <br>
                <span class="fab fa-twitter fa-fw" aria-hidden="true"></span> <a href="https://twitter.com/cambridge_vote">@cambridge_vote</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Team Members</h3>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-lg-6">
            <h4>Kelsey Harris</h4>
            <p>2017, 2019</p>
        </div>

        <div class="col-md-12 col-lg-6">
            <h4>Alex Riina</h4>
            <p>2017, 2019</p>
        </div>

    </div>
    <div class="row">

        <div class="col-md-12 col-lg-6">
            <h4>Lisan Mo</h4>
            <p>2017</p>
        </div>

        <div class="col-md-12 col-lg-6">
            <h4>Janelle Myers</h4>
            <p>2017</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h5> Thank you!</h5>

            <p>The list of people we wish to thank is very long, and some prefer to remain off of the public internet. Suffice to say: thank you to everyone from life-long friends and total strangers who commented and encouraged. This site would not be the same without you!</p>

            <p>Special Thanks to the crew at CCTV for opening their studios - not only to us, but to many different groups.</p>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-12">
                <h2>Funding</h2>
            </div>
            <div class="col-md-12">
                <p>As far as we know, we're not required to disclose our finances, but in the spirit of transparency here is a brief rundown!</p>

                <ul>
                    <li>$10.69/year. Domain registration. (only 2 years have been paid so far.)</li>
                    <li>$9.00/month. Database hosting. Cost began Oct. 8th 2017, when the campaign finance data exceeded the free tier.</li>
                    <li>$7.00/month. Web hosting. Cost began in July, when we upgraded from the free tier.</li>
                    <li>~$10 (total). Get out the vote facebook advertising.</li>
                    <li>$0. Labor. So far, all work has been volunteered - otherwise, this would be by far the largest category. Thank you, again to everyone who has contributed!</li>
                </ul>

                <p>So far, all costs have been paid by Kelsey Harris. She requests, if you wish to show monetary support, you subscribe to local media, as this site would not be possible without it.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Data and Privacy</h1>
        </div>
        <div class="col-md-12">
            <p>For the most part, the data on this site is entered by us and not by you, the user.</p>

            <p>The exception is the ranking tool, which requires your input to be a useful tool at all.</p>

            <p>If you're not logged into the site, we store your data in our database but associated with an anonymous id. We aren't collecting and storing other information: just the id, notes, and ranking.</p>

            <p>If you log into the site, we also store your notes and rankings in our database, associated with your account. We will not share the raw data with campaigns, advertisers (we have none), press, the general public, etc. We may do some post-election analysis using your data (for example, "how well or poorly did user rankings reflect the rankings in the election"?) and publish the results.</p>

            <p>You may share and save your data however you like. In fact, because we plan on deleting or compressing much of the user data between each election cycle, we encourage you to download it if you'd like a record for longer than that!</p>
        </div>
    </div>
</section>
</div>
{% endblock %}
