{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="twitter:site" content="@cambridge_vote">
        <meta name="description" content="{% block meta_description %}{% if description %}{{ description }}{% endif %}{% endblock %}">
        <!-- <link rel="icon" href="../../favicon.ico"> -->

        <title>{% block title %}{% if title %}{{ title }}{% else %}Vote Local!{% endif %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css" type="text/css" media="screen" title="no title" charset="utf-8">

        <!-- Custom styles for this template -->
        <link href="{% static 'base.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {# copy-pasted from https://dev.twitter.com/web/javascript/loading #}
        <script>window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };

          return t;
        }(document, "script", "twitter-wjs"));</script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" media="screen" title="no title" charset="utf-8">
        {% block head_extra %}{% endblock %}
    </head>

    <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"><span class="header-text">Cambridge Council Candidates</span></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="rankCandidates"><span class="fa fa-sort-numeric-asc fa-2x"></span></a></li>
            </ul>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if request.resolver_match.url_name == 'all' %} active {% endif %}"><a href="{% url 'all' %}">All</a></li>
                    <li class="dropdown {% if request.resolver_match.url_name == 'candidate_detail' %} active {% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Candidates <span class="caret"></span></a>
                        <ul id="candidate_list" class="dropdown-menu">
                            <li class="dropdown-header">Incumbents</li>
                            {% for incumbent in incumbents %}
                                {% if incumbent.slug %}
                                    <li>
                                        {% if incumbent.is_running == False %}
                                            <a href="{% url "candidate_detail" incumbent.slug %}" class="not_running">{{ incumbent.fullname }}</a>
                                        {% else %}
                                            <a href="{% url "candidate_detail" incumbent.slug %}">{{ incumbent.fullname }}</a>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li class="disabled"><a href="#">{{ incumbent.fullname }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li class="dropdown-header">Challengers</li>
                            {% for non_incumbent in non_incumbents %}
                                {% if non_incumbent.slug %}
                                    <li>
                                        {% if non_incumbent.is_running == False %}
                                            <a href="{% url "candidate_detail" non_incumbent.slug %}" class="not_running">{{ non_incumbent.fullname }}</a>
                                        {% else %}
                                            <a href="{% url "candidate_detail" non_incumbent.slug %}">{{ non_incumbent.fullname }}</a>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li class="disabled"><a href="#">{{ non_incumbent.fullname }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'full_history' %}">Incumbent Voting</a></li>
                            <li><a href="{% url 'finance_comparison' %}">Campaign Finance</a></li>
                            <li class="disabled"><a href="#">Press Coverage</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content! -->
    {% block content %}
    {% endblock %}

    <div class="container">
        <hr>
        <footer class="page_footer">
            <p>
                <a class="twitter-follow-button"
                  href="https://twitter.com/cambridge_vote"
                  target="_blank"
                  data-show-count=false
                  data-show-screen-name=false
                  data-size="large">Follow</a>

                <span class="about_us">
                    <a class="about_us_link" href="{% url "about_us" %}">About us</a>
                    © 2017
                </span>
            </p>
        </footer>
    </div> <!-- /container -->

    <div id="candidateRankerSidebar" class="panel panel-info" style="position:relative">
        <div  class="panel-heading">
            <a href="#" class="close">&times;</a>
            <h3>Rank Candidates</h3>
            <p>Rank candidates as you learn more about them</p>
        </div>

        <div class="panel-body">
            <table class="ordered table">
                <tbody id="candidateList" class="sortable">
                    {% for candidate in runners %}
                        <tr>
                            <td class="sorter"><span class="fa fa-unsorted"></span></td>
                            <td>{{ candidate.fullname }} <a href="{% url "candidate_detail" candidate.slug %}" style="float:right" class="fa fa-external-link"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% comment %}
            <ol class="sortable">
                <li>Dan Lenke</li>
                <li>Fabian Andreson</li>
                <li>Test MgGee</li>
                <li>Sudo McKenziface</li>
            </ol>
            {% endcomment %}

			{# placeholder doesn't work and data-placeholder only work with multiple #}
			<select id="addCandidate" class="btn btn-primary">
				{# value="" matches when we reset so it reselects the disabled option #}
				<option value="" selected disabled>+ Add Candidate</option>
                {% for candidate in runners %}
                    <option value="{{ candidate.slug }}">{{ candidate.fullname }}</option>
                {% endfor %}
			</select>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideReveal/1.1.2/jquery.slidereveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.6.3/html.sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js"></script>

    <script>
        $('#candidateRankerSidebar').slideReveal({
          overlay: true,
          push: false,
          position: "right",
          trigger: $("#rankCandidates")
        });

        $("#candidateRankerSidebar .close").click(function() {
            $("#candidateRankerSidebar").slideReveal("hide")
        });

        $('#candidateRankerSidebar').slideReveal("show");

        sortable('.sortable', {
          placeholder: '<tr class="fade"><td colspan="7">&nbsp;</td></tr>',
          handle: ".sorter",
        });

		$("#addCandidate").chosen({
			width: "100%",
    		// inherit_select_class: true,
			classes: "btn btn-primary",
		}).change(function(_event, selected) {
			$("#candidateList").append($(`<tr><td>${selected.selected}</td></tr>`));
			sortable(".sortable");
			$("#addCandidate").val('').trigger("chosen:updated");
		});

		// $("#candidateRankerSidebar .chosen-single").removeClass("chosen-single").addClass("btn btn-primary btn-block");
		// really need to use something like sass or less and @extend btn, btn-primary, btn-block for this

		// Need to open the candidates page from the the scroller
		// "definitlely not" bucket
		// remove the candidate from chosen list
		// clear the chosen input on select
		// style the chosen input more?
    </script>

    {% block endscripts %}{% endblock %}
    </body>
</html>
