{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="twitter:site" content="@cambridge_vote">
        <meta name="description" content="{% block meta_description %}{% if description %}{{ description }}{% endif %}{% endblock %}">
        <!-- <link rel="icon" href="../../favicon.ico"> -->

        <title>{% block title %}{% if title %}{{ title }}{% else %}Vote Local!{% endif %}{% endblock %}</title>
        <link href="{% static 'base.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {# copy-pasted from https://dev.twitter.com/web/javascript/loading #}
        <script>window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };

          return t;
        }(document, "script", "twitter-wjs"));</script>

        <script>
            const allCandidates = JSON.parse("{{ runnerJson|escapejs }}");
        </script>
        <script src="{% static "bundle.js" %}"></script>

        {% block head_extra %}{% endblock %}
    </head>

    <body>

    {% csrf_token %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" id="rankCandidates" class="fa fa-sort-numeric-asc navbar-toggle btn btn-link visible-xs"></a>
                <a class="navbar-brand" href="{% url 'index' %}">
                    <span class="visible-sm header-text">Cambridge Council Candidates</span>
                    <span class="visible-xs header-text">Cambridge Candidates</span>
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li><a href="#" id="rankCandidates" class="fa fa-sort-numeric-asc btn btn-link"></a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url "auth_logout" %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url "auth_login" %}">Login</a></li>
                {% endif %}
            </ul>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if request.resolver_match.url_name == 'all' %} active {% endif %}"><a href="{% url 'all' %}">All</a></li>
                    <li class="dropdown {% if request.resolver_match.url_name == 'candidate_detail' %} active {% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Candidates <span class="caret"></span></a>
                        <ul id="candidate_list" class="dropdown-menu">
                            <li class="dropdown-header">Incumbents</li>
                            {% for incumbent in incumbents %}
                                {% if incumbent.slug %}
                                    <li>
                                        {% if incumbent.is_running == False %}
                                            <a href="{% url "candidate_detail" incumbent.slug %}" class="not_running">{{ incumbent.fullname }}</a>
                                        {% else %}
                                            <a href="{% url "candidate_detail" incumbent.slug %}">{{ incumbent.fullname }}</a>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li class="disabled"><a href="#">{{ incumbent.fullname }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li class="dropdown-header">Challengers</li>
                            {% for non_incumbent in non_incumbents %}
                                {% if non_incumbent.slug %}
                                    <li>
                                        {% if non_incumbent.is_running == False %}
                                            <a href="{% url "candidate_detail" non_incumbent.slug %}" class="not_running">{{ non_incumbent.fullname }}</a>
                                        {% else %}
                                            <a href="{% url "candidate_detail" non_incumbent.slug %}">{{ non_incumbent.fullname }}</a>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li class="disabled"><a href="#">{{ non_incumbent.fullname }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'full_history' %}">Incumbent Voting</a></li>
                            <li><a href="{% url 'finance_comparison' %}">Campaign Finance</a></li>
                            <li class="disabled"><a href="#">Press Coverage</a></li>
                            <li><a href="{% url 'my_ranking' %}">My Candidates</a></li>
                        </ul>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="visible-xs"><a href="{% url "auth_logout" %}">Logout</a></li>
                    {% else %}
                        <li class="visible-xs"><a href="{% url "auth_login" %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content! -->
    {% block content %}
    {% endblock %}

    <div class="container">
        <hr>
        <footer class="page_footer">
            <p>
                <a class="twitter-follow-button"
                  href="https://twitter.com/cambridge_vote"
                  target="_blank"
                  data-show-count=false
                  data-show-screen-name=false
                  data-size="large">Follow</a>

                <span class="about_us">
                    <a class="about_us_link" href="{% url "about_us" %}">About us</a>
                    © 2017
                </span>
            </p>
        </footer>
    </div> <!-- /container -->

    <div id="candidateRankerSidebar" class="panel panel-info" style="position:relative">
        <div class="panel-heading">
            <a href="#" class="close">&times;</a>
            <h3>Build Your Ballot</h3>

            <a data-toggle="collapse" data-target="#instructions">learn more&hellip;</a>
            <div id="instructions" class="collapse">
                <dl>
                    <dt>Adding</dt>
                    <dd>Click the <code>+ Add a Candidate</code> dropdown, and select the candidate you wish to add.</dd>

                    <dt>Ranking</dt>
                    <dd>Double click the <code class="fa fa-unsorted"></code> arrows to select a candidate (after added to your list), and then drag up or down to re-rank.</dd>

                    <dt>Deleting</dt>
                    <dd>Click the <code class="fa fa-address-book-o"></code> to open the detail view and delete the candidate from your list.</dd>

                    <dt>Notes</dt>
                    <dd>Click the <code class="fa fa-address-book-o"></code> to open the detail view and add a note.</dd>

                    <dt>Our Data Policy</dt>
                    <dd>For details, please check out the <a class="about_us_link" href="{% url "about_us" %}">about us</a> page!</dd>
                </dl>
            </div>
        </div>

        <div class="panel-body">
            <div id="candidateTableWrapper">
                <table class="ordered table" style="table-layout: fixed">
                    <colgroup>
                        <col style="width: 3em"></col>
                        <col></col>
                        <col style="width: 1em"></col>
                    </colgroup>
                    <tbody id="candidateList" class="sortable" data-bind="sortable:{ data: candidates, options: { containment: '#candidateRankerSidebar', handle: '.sorter', placeholder: { element: function(clone, ui) { return $('<tr class=\'selected\'>'+clone[0].innerHTML+'</tr>'); }, update: function() { return; } } } }">
                        <tr data-bind="attr: {id: 'candidate_' + slug }">
                            <td class="sorter">
                                <span class="fa fa-unsorted"></span>
                                <span data-bind="text:order"></span>
                            </td>
                            <td> 
                                <span data-bind="text:name"></span>
                            </td>
                            <td>
                                <a data-toggle="modal" data-bind="attr: {'data-target': '#candidate_' + slug + ' .commentModal' }" style="float:right" class="btn btn-link fa fa-address-book-o"></a>
                                
                                <div class="commentModal modal fade" role="dialog">
                                    {# e.keyCode === 13 && e.ctrlKey #}
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form data-bind="submit: updateComment, attr: { action: `/ranking/notes/${slug}/` }" method="POST">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">
                                                        <strong>
                                                            #<span data-bind="text:order"></span>
                                                            <span data-bind="text:name"></span>
                                                        </strong>
                                                        <a class="btn btn-link" data-bind="attr: {href: '/candidates/' + slug }">View Profile</a>

                                                        <div class="pull-right">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-primary">Save</button>
                                                        </div>
                                                    </h4>
                                                </div>

                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="comment">My Notes</label>

                                                        {# Should this save immeidately to comment? #}
                                                        <textarea autofocus rows=5 placeholder="Why do you like or dislike this candidate?&#10;Anything you want to remember when you're voting?" data-bind="value:comment" class="form-control" name="comment"></textarea>
                                                    </div>

                                                    <div class="well" style="margin-bottom: 0px">
                                                        <a data-bind="attr: {href: '/candidates/' + slug }">
                                                            <img style="max-width:200px; width:20%; float: left; margin: 20px" class="img-circle img-responsive" data-bind="attr: {src: img_url, alt: img_alt}">
                                                        </a>
                                                        <div style="text-align:left" data-bind="html:blurb"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        <div class="modal-footer" style="text-align:center">
                                            <button type="button" data-bind="click:remove" class="btn btn-link" style="color:darkred">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <select id="addCandidate" class="form-control" data-bind="optionsCaption: '+ Add Candidate', value: selectedCandidate, options: remainingCandidates, optionsText: 'name'"></select>

            {% if request.user.is_anonymous %}
            <br>
            <div class="alert alert-warning">
                Your list is currently tied to your browser. To permanently save it, signup <a href="{% url "registration_register" %}">here</a>.
            </div>
            {% endif %}
        </div>
    </div>

    <div id="grippy">&nbsp;</div>

    <script>
        ko.applyBindings(cambridge.view_model);
    </script>

    {% block endscripts %}{% endblock %}
    </body>
</html>
