{% extends "base.html" %}


{% block content %}
<div class="container">
    <section>

        <div class="row">
            <div class="col-md-12">
                <h2>About the System</h2>

                Cambridge has a ranked choice system, which might be different than what you&rsquo;re used to.
                See our <a href="https://prezi.com/p/nefetndyg_n1" target="_blank" rel="noopener">interactive presentation</a> to learn more about Ranked Choice Voting. 
                <!-- <iframe width="560" height="315" src="https://prezi.com/p/nefetndyg_n1" frameborder="0" allowfullscreen> </iframe> -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>How to Register and Vote</h2>

                <p>
                    Read more from the <a target="_blank" rel="noopener" href="http://www.sec.state.ma.us/ele/eleidx.htm">Massachusetts Elections Division</a>
                </p>
            </div>

            <div class="col-md-6">

                <h3>Registration (deadline Oct. 18)</h3>

                <p>
                    Although there was a recent court decision against Massachusetts's registration deadline, 
                    it seems unlikely that same-day registration will be implimented for this election season. 
                    That means <strong>you should register to vote before the original deadline &mdash; October 18th.</strong>
                </p>

                <p>There are a couple of ways to register:</p>
                <ul>
                    <li>If you have a valid driver&rsquo;s license, learner&rsquo;s permit, or non-driver ID issued by Massachusetts, you can <a href="https://www.sec.state.ma.us/ovr/" target="_blank" rel="noopener">register online</a>.</li>
                    <li>If you do not, you must register by mail or in person &mdash; details <a target="_blank" rel="noopener" href="http://www.sec.state.ma.us/ele/eleifv/howreg.htm">here</a>.</li>
                </ul>

            </div>
            <div class="col-md-6">

                <h3>Voting Absentee</h3>

                <p>
                    You must fill out the absentee <a target="_blank" rel="noopener" href="http://www.sec.state.ma.us/ele/elepdf/absentee_ballot.pdf">form</a> and turn it into the Clerk&rsquo;s office.
                    You can turn it in by mail, in person, by fax, or as a scanned attached to an email by 12 p.m. on the day before the election:
                </p>

                <address class="well well-sm" style="font-variant: small-caps;">
                    Election Commission
                    <p>
                        51 Inman ST, First Floor
                        <br>Cambridge, MA 02139
                    </p>
                    Phone: <a href="tel:617-349-4361">617-349-4361</a> Fax: <a href="tel:617-349-4366">617-349-4366</a>
                    <br>Email: <a href="mailto:elections2@cambridgema.gov">elections2@cambridgema.gov</a>
                </address>

                <h3>Voting In person</h3>
                <ul>
                    <li>Look up your polling location <a target="_blank" rel="noopener" href="http://www.sec.state.ma.us/wheredoivotema/bal/MyElectionInfo.aspx">here</a>.</li>
                    <li>On November 7th, go there and vote!</li>
                    <li>An ID is not usually required, but somtimes it is &mdash; bring one if you have it, just in case.</li>
                </ul>

                <p><strong>Note</strong>: early voting is <em>not</em> available for municipal elections in Massachusetts!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Other resources</h2>

                <ul>
                    <li><a target="_blank" rel="noopener" href="https://www.cambridgema.gov/Departments/electioncommission">Cambridge Election Commission Homepage</a></li>
                    <li> Candidate Jan Devereux made an <a target="_blank" rel="noopener" href="https://jandevereux.org/about/about-our-ranked-choice-voting-system/">explanation</a> and a video about the system: <br>
                        <iframe style="width: 100%" height="315" src="https://www.youtube.com/embed/RR3GXb-N9nM" frameborder="0" allowfullscreen></iframe>
                        <span class="text-muted">Linking this video does not represent an endorsement</span>
                    </li>
                </ul>

            </div>
        </div>
    </section>
</div>
{% endblock %}
