{% extends "base.html" %}

{% block content %}
<div class="container">
    <section>

        <div class="row">
            <div class="col-md-12">
                <h3>About the System</h3>
                <ul>
                    <li>An <a href="https://prezi.com/p/nefetndyg_n1">interactive presentation</a></li>
                </ul>
                <!-- <iframe width="560" height="315" src="https://prezi.com/p/nefetndyg_n1" frameborder="0" allowfullscreen> </iframe> -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>How to Register and Vote</h3>

                <p>(Most of this section comes from the <a href="http://www.sec.state.ma.us/ele/eleidx.htm">Elections Division Website</a> of the Secretary of the Commonwealth.)</p>

            <div class="col-md-6">

                <h4>Registration</h4>

                <p>Although there was a recent court decision against Massachusetts' early registration requirements, it seems unlikely that same-day registration will be implimented for this election season. That means you should register to vote before the original deadline - October 18th.</p>

                <p>There are a couple of ways to register:</p>
                <ul>
                    <li>If you have a valid driver's license, learner's permit, or non-driver ID issued by Massachusetts, you can register <a href="https://www.sec.state.ma.us/ovr/">online</a>.</li>
                    <li>If you do not, you must register by mail or in person - details <a href="http://www.sec.state.ma.us/ele/eleifv/howreg.htm">here</a>.</li>
                </ul>

            </div>
            <div class="col-md-6">

                <h4>Voting</h4>

                <ul>
                    <li>Absentee:
                        <ul>
                            <li>You must fill out the absentee <a href="http://www.sec.state.ma.us/ele/elepdf/absentee_ballot.pdf">form</a> and turn it into the Clerk's office.</li>
                            <li>You can turn it in by mail, in person, by fax, or as a scan attached to an email, by 12 p.m. on the day before the election:
                                <br>ELECTION COMMISSION
                                <br>51 INMAN ST, FIRST FLOOR
                                <br>CAMBRIDGE, MA 02139
                                <br>Phone: 617-349-4361 Fax: 617-349-4366
                                <br>Email: elections2@cambridgema.gov</li>
                        </ul>
                    </li>
                    <li>In person:
                        <ul>
                            <li>Look up your polling location <a href="http://www.sec.state.ma.us/wheredoivotema/bal/MyElectionInfo.aspx">here</a>.</li>
                            <li>On November 7th, go there and vote!</li>
                            <li>An ID is not usually required, but somtimes it is - bring one if you have it, just in case.</li>
                        </ul>
                </ul>

                <p>Note: early voting is not available for municipal elections in Massachusetts!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Other resources</h3>

                <ul>
                    <li><a href="https://www.cambridgema.gov/Departments/electioncommission">Cambridge Election Commission Homepage</a></li>
                    <li> Candidate Jan Devereux made an <a href="https://jandevereux.org/about/about-our-ranked-choice-voting-system/">explanation</a> and a video about the system: <br>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RR3GXb-N9nM" frameborder="0" allowfullscreen></iframe>
                        <br>
                        (our linking this video does not represent an endorsement)
                    </li>
                </ul>

            </div>
        </div>
    </section>
</div>
{% endblock %}
