{% extends "base.html" %}
{% load i18n %}


{% block head_extra %}
<style>
.prezi {
    width: 100%;
}
</style>
{% endblock %}


{% block content %}
<div class="bg-light">
    <main class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{% blocktrans %}About Voting{% endblocktrans %}</h1>

                <p>{% blocktrans %}Cambridge has a ranked choice system, which might be different than what you&rsquo;re used to.
                Essentially, you'll be given a ballot with a list of the candidates, and you will fill in a bubble for the rank you want to give them.{% endblocktrans %}
                </p>

                <p>So you'll start with something like this:</p>

                <table class="pb-3">
                    <tr>
                        <td>Seabiscuit</td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    1
                                </strong>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    2
                                </strong>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    3
                                </strong>
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>Phar Lap</td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    1
                                </strong>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    2
                                </strong>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    3
                                </strong>
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>Secretariat</td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    1
                                </strong>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    2
                                </strong>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    3
                                </strong>
                            </span>
                        </td>
                    </tr>

                </table>

                <br>
                <p>
                    And turn in something like this:
                </p>

                <table>
                    <tr>
                        <td>Seabiscuit</td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    1
                                </strong>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    2
                                </strong>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    3
                                </strong>
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>Phar Lap</td>
                        <td>
                            <span class="fa-stack">
                                <span class="fas fa-circle fa-stack-2x"></span>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    2
                                </strong>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    3
                                </strong>
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>Secretariat</td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    1
                                </strong>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="fas fa-circle fa-stack-2x"></span>
                            </span>
                        </td>
                        <td>
                            <span class="fa-stack">
                                <span class="far fa-circle fa-stack-2x"></span>
                                <strong class="fa-stack-1x">
                                    3
                                </strong>
                            </span>
                        </td>
                    </tr>
                </table>

                <p><a target="_blank" rel="noopener" href="https://www.cambridgema.gov/-/media/Files/electioncommission/2021municipalelection/citycouncilspecimentopost.pdf">Preview an official sample ballot</a></p>
            </div>

            <div class="col-md-12">
                <h3>Counting the Votes</h3>

                <p>If you'd like to know more about how Cambridge elects 9 councillors from a bunch of ballots with numbers...
                    {% blocktrans %}See our interactive presentation to learn more about Ranked Choice Voting.{% endblocktrans %}
                </p>
            </div>

            <div class="col-md-12">
                {# there's like no decent way to get a poster image for this. if the prezi fails to load run due to noscript, it will just partially load some html #}
                <iframe class="prezi" height="400" frameBorder="0" src="https://prezi.com/view/AZKLkl5N4sd4IcQwje3J/embed" webkitallowfullscreen="1" mozallowfullscreen="1" allowfullscreen="1"></iframe>
            </div>
        </div>
    </main>
</div>

<div class="bg-gray">
    <section class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{% blocktrans %}How to Register{% endblocktrans %}</h1>

                <p>
                    {% blocktrans %}
                        <strong>The deadline to register to vote has passed.</strong>
                    {% endblocktrans %}
                </p>

                <p>{% blocktrans %}There are a couple of ways to register:{% endblocktrans %}</p>
                <ul>
                    {% with online='<a href="https://www.sec.state.ma.us/ovr/" target="_blank" rel="noopener">' %}
                    <li>{% blocktrans %}If you have a valid driver&rsquo;s license, learner&rsquo;s permit, or non-driver ID issued by Massachusetts, you can {{ online }}register online</a>.{% endblocktrans %}</li>
                    {% endwith %}

                    {% with how_reg='<a target="_blank" rel="noopener" href="http://www.sec.state.ma.us/ele/eleifv/howreg.htm">' %}
                    <li>{% blocktrans %}If you do not, you must register by mail or in person &mdash; details {{ how_reg }}here</a>.{% endblocktrans %}</li>
                    {% endwith %}
                </ul>
            </div>
        </div>
    </section>
</div>

<div class="bg-light">
    <section class="container p-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{% blocktrans %}How to Vote{% endblocktrans %}</h1>


                <h3>{% blocktrans %}Voting Absentee{% endblocktrans %}</h3>

                {% with absentee='<a target="_blank" rel="noopener" href="http://www.sec.state.ma.us/ele/elepdf/absentee/English-Absentee-Ballot-Application.pdf">' %}
                <p>{% blocktrans %}
                    You must fill out the absentee {{ absentee }}form</a> and turn it into the Clerk&rsquo;s office.
                    You can turn it in by mail, in person, by fax, or as a scanned attached to an email by 12 p.m. on the day before the election. (So you must vote absentee before Monday, November 4 at 12 noon.)
                {% endblocktrans %}</p>
                {% endwith %}

                <address class="well well-sm" style="font-variant: small-caps;">
                    {% blocktrans %}Election Commission{% endblocktrans %}
                    <p>
                        51 Inman ST, First Floor
                        <br>Cambridge, MA 02139
                    </p>
                    Phone: <a href="tel:617-349-4361">617-349-4361</a> Fax: <a href="tel:617-349-4366">617-349-4366</a>
                    <br>Email: <a href="mailto:elections2@cambridgema.gov">elections2@cambridgema.gov</a>
                </address>

                <h3>{% blocktrans %}Voting In person{% endblocktrans %}</h3>
                <ul>
                    {% with lookup='<a target="_blank" rel="noopener" href="http://www.sec.state.ma.us/wheredoivotema/bal/MyElectionInfo.aspx">' %}
                    <li>{% blocktrans %}Look up your polling location {{ lookup }}here</a>.{% endblocktrans %}</li>
                    {% endwith %}
                    <li>{% blocktrans %}On November 5th, go there and vote!{% endblocktrans %}</li>
                    <li>{% blocktrans %}An ID is not usually required, but sometimes it is &mdash; bring one if you have it, just in case.{% endblocktrans %}</li>
                </ul>

                <p><strong>Note</strong>: early voting is <em>not</em> available for municipal elections in Massachusetts!</p>
            </div>

            <div class="col-md-12">

                <h3>{% blocktrans %}Other resources{% endblocktrans %}</h3>

                <p>
                    <a target="_blank" rel="noopener" href="https://www.cambridgema.gov/Departments/electioncommission">
                        {% blocktrans %}Cambridge Election Commission Homepage{% endblocktrans %}
                    </a>
                </p>

                <p>
                    {% with eleidx='<a target="_blank" rel="noopener" href="http://www.sec.state.ma.us/ele/eleidx.htm">' %}
                    {% blocktrans %}{{ eleidx }}Massachusetts Elections Division</a>{% endblocktrans %}
                    {% endwith %}
                </p>
            </div>

        </div>
    </section>
</div>
{% endblock %}
