{% extends "base.html" %}
{% load static %}


{% block title %}
    Comparing
    {% for candidate in found_candidates %}
        {{ candidate.slug }} {% if not forloop.last %}&amp;{% endif %}
    {% endfor %}
{% endblock %}


{% block head_extra %}
<script>
    // data for candidate_map.js
    var initialLocations = {{ candidate_locations|safe }};
</script>
<script async src="{% static "overview/candidate_map.js" %}"></script>
<script async defer src="//maps.googleapis.com/maps/api/js?&callback=initMap&key=AIzaSyAEvfFrHVngbhqmwUbmZIGrxJpTNReCIeY"></script>

<style>
#map {
    height: 400px;
    width: 100%;
}
</style>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="row">
            {% for candidate in found_candidates %}
                <div class="col-md-3">
                    {% include "overview/candidate_card.html" with candidate=candidate only %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-6">
        <div id="map" height=300 width=300 class="map-container">
            <div class="map-alert">
                <div class="alert alert-warning"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
