{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load get_item from overview %}

{% block body_id %}candidate_comparison{% endblock %}

{% block title %}
Superintendent Search Opinions of School Committee Candidates, {{election.year|default:ELECTION_DATE.year}}
{% endblock %}

{% block content %}
<div>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h2>Background</h2>
            </div>
            <div class="col-12">
                <p>The Cambridge School Committee recently completed a search to hire a new superintendent.</p>
                <p>It has been a process filled with controversy.</p>
            </div>
            <div class="col-12">
                <h3>Abbreviated Timeline</h3>
                <ul>
                    <li>
                        <b>January 12 2021</b>. Superintendent Salim resigns effective June 30th, two years before contract expired. [Cambridge Day](https://www.cambridgeday.com/2021/01/12/superintendent-salim-resigns-effective-june-30/)
                    </li>
                    <li>
                        <b>July 2023</b>. School Committee rates Superintendent Greer as "needs improvement". [WBUR](https://www.wbur.org/news/2024/05/30/victoria-greer-cambridge-superintendent)
                    </li>
                    <li>
                        <b>April 30 2024</b>. School Committee votes in closed-door session to give Superintendent Greer a 90-day notice.
                    </li>
                    <li>
                        <b>May 29 2024</b>. School Committee votes in open session to give Superintendent Greer a 90-day notice (ratifying their closed vote). [Cambridge Day](https://www.cambridgeday.com/2024/05/29/cambridge-superintendent-is-voted-out-5-2-ending-a-long-process-filled-with-negotiation/)
                    </li>
                    <li>
                        <b> June 18 2024</b>. "Joint Motion by Member Rojas and Member Rachel" for a search timeline. Harding, Hunter, and Simmons commented; tabled until August.
                    </li>
                    <li>
                        <b>November 12 2024</b>. Committee shares timeline and plans to announce search on November 19th.
                    </li>
                    <li>
                        <b>Feburary 6 2025</b>. Committee issues a request for executive search bids, deadline <b>Feburary 27 2025</b>. Bids:
                        <ul>
                            <li>$36,800 - WBCP</li>
                            <li>$40,000 - JG Consulting</li>
                            <li>$95,300 - Alma Advisory Group</li>
                        </ul>
                    </li>
                    <li>
                        <b>April 25 2025</b>. Executive Director of HR informs the committee the bids were rejected, for... reasons they wouldn't give per bid. School Committee discusses direct hiring as well as legally avoiding the bid process by paying a firm under $10,000.
                    </li>
                    <li>
                        <b>June 17 2025</b>. Vice Chair Caroline Hunter informed the committee that the committee had "retained The Equity Process to manage the Superintendent Search." and several semifinalists had been chosen.</b>
                    </li>
                    <li>
                        <b>August 7 2025</b>. "The Cambridge Education Association called Thursday for a restart to a Cambridge Public Schools superintendent search process" saying a finalist compared teachers to pimps and pedophiles. [Cambridge Day](https://www.cambridgeday.com/2025/08/07/upset-educator-group-says-superintendent-finalist-compared-teachers-with-pimps-and-pedophiles/)
                    </li>
                    <li>
                        <b>September 30 2025</b>. [The Boston Globe](https://www.bostonglobe.com/2025/09/29/metro/cambridge-superintendent-search/) publishes a finalist lost $750,000 on a crypto "scam", then sued his bank, and also faced accusations of domestic violence during divorce proceedings
                    </li>
                </ul>
            </div>

            <div class="col-12">
                <h3>Other Write-Ups</h3>
                <p>Parent [Francis Bingham's Summary](https://docs.google.com/document/d/1yzRrh2arZ85iGJUYehfWUswUy3rXS5CqV-KS1gkDLrA/edit?tab=t.0). Has many more links to minutes, bids, etc.</p>

                <p>Parent (and activist) [Itamar Turner-Trauring's Summary and voting recommendations](https://letschangecambridge.us/articles/school-committee-candidates/)</p> (Note: Cambridge.vote does not endorse candidates)
            </div>
        </div>
    </section>
</div>

<div class="bg=gray">
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h4>Candidates on the Search</h4>
                <div class="table-responsive">
                    <table class="table table-striped comparison-table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Candidate</th>
                                {% for specific_proposal in specific_proposals %}
                                    <th>
                                        {% if specific_proposal.shortname %}
                                            {{ specific_proposal.shortname }}
                                        {% else %}
                                            {{ specific_proposal.fullname }}
                                        {% endif %}

                                        {% if specific_proposal.blurb %}
                                        <a tabindex="0" class="fa fa-info-circle"
                                            href="#!"
                                            data-toggle="popover"
                                            data-trigger="focus"
                                            data-html="true"
                                            data-container="body"
                                            data-content="{{ specific_proposal.blurb }}">
                                        </a>
                                        {% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for candidate_election in candidate_elections %}
                {% with candidate=candidate_election.candidate %}
                            <tr>
                                <td>
                                    <a href="{% url "candidate_detail" election.year election.position candidate.slug %}">{{ candidate.fullname }}</a>
                                </td>

                                {% for specific_proposal in specific_proposals %}
                                <td style="min-width: 4em;">
                                        {% if cp_map_yes_no|get_item:candidate.id|get_item:specific_proposal.id == True %}
                                            <i class="fa fa-check text-success"></i>
                                        {% elif cp_map_yes_no|get_item:candidate.id|get_item:specific_proposal.id == False %}
                                            <i class="fa fa-ban text-danger"></i>
                                        {% else %}
                                            <span class="text-muted">n/a</span>
                                        {% endif %}

                                        {% if cp_map_blurb|get_item:candidate.id|get_item:specific_proposal.id %}
                                        <a tabindex="0" class="fa fa-info-circle"
                                            href="#!"
                                            data-toggle="popover"
                                            data-trigger="focus"
                                            data-html="true"
                                            data-container="body"
                                            data-content="{{ cp_map_blurb|get_item:candidate.id|get_item:specific_proposal.id }}"></a>
                                        {% endif %}
                                </td>
                                {% endfor %}

                            </tr>
                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
