{% extends 'base.html' %}
{% load fullurl %}
{% load static %}
{% load i18n %}
{% load overview %}

{% block title %}
{% if election.position == "council" %}Cambridge Council Election {{election.year|default:ELECTION_DATE.year}}
{% else %}Cambridge School Committee Election {{election.year|default:ELECTION_DATE.year}}
{% endif %}
{% endblock %}

{% block body_id %}welcome{% endblock %}

{% block head_extra %}
<meta name="twitter:card" content="summary">
<meta name="twitter:domain" content="cambridge.vote" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{% fullstatic "candidate_grid.png" %}"/>

<meta property="og:image" content="{% fullstatic "candidate_grid.png" %}"/>
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:site_name" content="Cambridge.vote"/>

<meta name="msvalidate.01" content="{{ BING_VALIDATE }}" />

<script>
    // data for candidate_map.js
    var initialLocations = {{ candidate_locations|safe }};
</script>
<script>{% include "overview/candidate_map.js" %}</script>
<script defer async src="//maps.googleapis.com/maps/api/js?&callback=initMap&key={{ GOOGLE_EMBED_API_KEY }}&q=Cambridge"></script>

{{ schema_org|json_ld }} 

{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <main class="container-fluid bg-secondary">
        <div class="row justify-content-center" id="main">
            <div class="jumbotron bg-transparent text-center text-black font-weight-bold col-lg-8 col-xs-6">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="splash_header">{% blocktrans %}Vote Local!{% endblocktrans %}</h1>
			    {# NOTE we prefer ELECTION_DATE vs election so we can reference the actual date #}
                            {% trans num_runners noop as num_runners %}
                            <p>{% blocktrans with ELECTION_YEAR=ELECTION_DATE|date:"Y" %}We're compiling everything we can find about the {{ ELECTION_YEAR }} candidates&mdash;from op-eds to campaign finance records&mdash;to help you determine who deserves your #1, #2, or #9 vote on {{ ELECTION_DATE }}. You've got {{ num_runners }} options!{% endblocktrans %}</p>


                            <div class="col" style="text-align: center">
				<a class="btn btn-primary mt-2" href="{% url "election_candidates" ELECTION_DATE.year 'council' %}" role="button">{% blocktrans %}Explore Council{% endblocktrans %}</a>
				<a class="btn btn-primary mt-2" href="{% url "election_candidates" ELECTION_DATE.year 'school' %}" role="button">{% blocktrans %}Explore School Committee{% endblocktrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div>
        <section class="container-fluid bg-light p-5">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="header">{% blocktrans %}Where the Candidates Are{% endblocktrans %}</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div id="map" class="map-container">
                        <div class="map-alert">
                            <div class="alert alert-warning"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <div>

    <div class="bg-gray">
        <section class="container-fluid p-5">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="header">{% blocktrans %}Build Your Ballot{% endblocktrans %}</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h4>{% blocktrans %}Compare{% endblocktrans %}</h4>
                    <p>
                        We let you rank the candidates, just like you do in the voting booth.
                    </p>
                    <p>
                        <a class="btn btn-info" href="{% url 'my_ranking' election.year election.position %}" role="button">See my candidates &raquo;</a>
                    </p>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h4>{% blocktrans %}Vote{% endblocktrans %}</h4>
                    <p>{% blocktrans %}Cambridge has a ranked choice system, which might be different than what you're used to.{% endblocktrans %}</p>
                    <p>
                        <a class="btn btn-info" href="{% url 'how_to_vote' %}" role="button">{% blocktrans %}Learn More{% endblocktrans %} &raquo;</a>
                        <a class="btn btn-info" target="_blank" rel="noopener" href="https://www.sec.state.ma.us/ovr/" role="button">{% blocktrans %}Register to vote{% endblocktrans %} &raquo;</a>
                    </p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h4>{% blocktrans %}Explore{% endblocktrans %}</h4>
                    <p>{% blocktrans %}Tools to see the whole field.{% endblocktrans %}</p>
                    <p>
                        <a class="btn btn-info" href="{% url 'full_history' %}" role="button">{% blocktrans %}Votes{% endblocktrans %} &raquo;</a>
                        <a class="btn btn-info" href="{% url 'housing_comparison' election.year election.position %}" role="button">{% blocktrans %}Housing{% endblocktrans %} &raquo;</a>
                    </p>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
